Repository rajput-hemant/infinitunes: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

.lintstagedrc:

{
  "*.{ts,tsx,md,mdx}": ["prettier --write \"**/*.{ts,tsx,mdx}\" --cache"],
  "*.{ts,tsx,mdx}": ["eslint --fix ."]
}

docs: update TODO index for wave 6 and captain round-2 answers
  docs/TODO.md
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache

fix(web): stop proxy from redirecting auth pages on a stale session cookie
  apps/web/app/(root)/me/(layout-a)/layout.tsx
  apps/web/config/routes.ts
  apps/web/proxy.ts
  apps/web/tests/proxy.test.ts
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

fix: local dev auth, db and modal fixes
  AGENTS.md
  apps/web/app/(root)/me/(layout-a)/_components/logout.tsx
  apps/web/app/@modal/[...catchAll]/page.tsx
  apps/web/app/@modal/page.tsx
  apps/web/components/user-dropdown.tsx
  packages/db/package.json
  packages/db/src/drizzle.config.ts
  packages/db/src/migrations/0005_drop_username.sql
  packages/db/src/migrations/meta/0005_snapshot.json
  packages/db/src/migrations/meta/_journal.json
  packages/db/src/schema.ts
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

refactor(env): package-owned env schemas and root env loading (primary snapshot)
  .gitignore
  apps/web/lib/env.ts
  apps/web/package.json
  bun.lock
  package.json
  packages/auth/package.json
  packages/auth/src/auth.ts
  packages/auth/src/env.test.ts
  packages/auth/src/env.ts
  packages/db/package.json
  packages/db/src/db.ts
  packages/db/src/env.ts
  packages/env/package.json
  packages/env/src/index.ts
  packages/env/src/schema.ts
  packages/env/src/server.ts
  packages/env/tests/env.test.ts
  packages/trpc/package.json
  packages/trpc/src/env.ts
  turbo.json
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

fix(auth): add bun types so the env tests type-check
  bun.lock
  packages/auth/package.json
  packages/auth/tsconfig.json
Due: none

refactor(env): single root env file, grouped example and clearer env errors
  .env.example
  AGENTS.md
  docs/TODO.md
  packages/db/package.json
  packages/db/src/env.ts
  packages/db/tests/env.test.ts
  packages/trpc/src/env.ts
  packages/trpc/src/lib/download.ts
  packages/trpc/tests/env.test.ts
  turbo.json
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

docs: correct AGENTS turbo env list references
  AGENTS.md
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache

refactor(env): package-owned env schemas and root env loading (partial snapshot)
  .gitignore
  apps/web/lib/env.ts
  apps/web/package.json
  bun.lock
  package.json
  packages/auth/package.json
  packages/auth/src/auth.ts
  packages/auth/src/env.test.ts
  packages/auth/src/env.ts
  packages/db/package.json
  packages/db/src/db.ts
  packages/db/src/env.ts
  packages/env/package.json
  packages/env/src/index.ts
  packages/env/src/schema.ts
  packages/env/src/server.ts
  packages/env/tests/env.test.ts
  packages/trpc/package.json
  packages/trpc/src/env.ts
  turbo.json
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

refactor(env): single root env file, grouped example, package env fixes
  .env.example
  AGENTS.md
  apps/web/lib/env.ts
  bun.lock
  docs/TODO.md
  packages/auth/package.json
  packages/auth/src/auth.ts
  packages/auth/src/env.test.ts
  packages/auth/src/env.ts
  packages/auth/tsconfig.json
  packages/db/package.json
  packages/db/src/db.ts
  packages/db/src/env.ts
  packages/db/tests/env.test.ts
  packages/env/tests/env.test.ts
  packages/trpc/src/env.ts
  packages/trpc/src/lib/download.ts
  packages/trpc/tests/env.test.ts
  turbo.json
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

chore(env): group .env.example variables with section headings
  .env.example
Due: none

chore(env): split provider, email and redis groups in .env.example
  .env.example
Due: none

docs(todo): add deslop and ponytail review findings
  docs/TODO.md
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache

docs(todo): record env validation delivery status
  docs/TODO.md
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache

docs(todo): record feature integration outcome
  docs/TODO.md
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache

refactor(trpc): use AbortSignal.any directly
  packages/trpc/src/lib/api.ts
  packages/trpc/tests/api-cache.test.ts
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

chore: move README-only logos out of served public dir
  README.md
  docs/assets/logo1500.png
  docs/assets/logo1920.png
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache

chore(web): remove asset-prep scripts and unreachable image from public
  apps/web/public/images/artists/10.png
  apps/web/public/images/artists/artists
  apps/web/public/images/artists/rename
  apps/web/public/images/logo1500.png
  apps/web/public/images/logo1920.png
  apps/web/public/images/placeholder/placeholder
  apps/web/public/images/placeholder/rename
Due: none

refactor(web): drop tailwind v3 border-color compat block; fix themes header
  apps/web/styles/globals.css
  apps/web/styles/themes.css
Due: none

chore: drop redundant editor, ignore and turbo db task config
  .gitignore
  .oxfmtrc.json
  .vscode/settings.json
  Makefile
  apps/web/components.json
  turbo.json
Due: none

chore(web): remove broken shadcn config and unused scripts and @next/env
  apps/web/package.json
  bun.lock
Due: none

refactor(trpc): drop unused radio.featuredStations and duplicate endpoint keys
  packages/trpc/src/lib/endpoints.ts
  packages/trpc/src/router/radio.ts
  packages/trpc/tests/radio-router.test.ts
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

refactor(db): drop duplicate export entries
  packages/db/package.json
Due: none

refactor(db): typed array defaults, unused inferred types, accurate migrationsFolder comment
  packages/db/src/migrations/index.ts
  packages/db/src/schema.ts
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

refactor(db): validate local-dev fixture with a zod schema
  packages/db/src/fixtures/local-dev-user.ts
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

refactor(db): seed with onConflictDoNothing and drop Redis probe
  packages/db/src/seed.ts
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

refactor(auth): drop Better Auth options that restate defaults and dedupe URL parsing
  packages/auth/src/auth.ts
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

refactor(auth): remove unused vercel flag and paths, use z.email
  packages/auth/src/env.test.ts
  packages/auth/src/env.ts
  packages/auth/src/schemas.ts
  packages/auth/tsconfig.json
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

refactor(web): drop duplicate NODE_ENV and unused siteConfig fields
  apps/web/config/site.ts
  apps/web/lib/env.ts
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

refactor(types): share the playlist search item type
  packages/types/src/search.ts
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

chore(types): remove unused ArtistSongsOrAlbums and Promo types
  packages/types/src/artist.ts
  packages/types/src/modules.ts
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

refactor: drop seeded PRNG and getToken wrapper
  apps/web/app/(auth)/layout.tsx
  apps/web/app/(root)/me/(layout-a)/shows/page.tsx
  apps/web/components/play-button.tsx
  apps/web/components/queue.tsx
  apps/web/components/slider/slider-card.tsx
  apps/web/components/song-list/song-list.client.tsx
  apps/web/components/song-list/song-list.tsx
  apps/web/lib/queue-position.ts
  apps/web/tests/queue-position.test.ts
  packages/types/src/media.ts
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

refactor(trpc): remove unused link input and tokenFromLink alias
  packages/trpc/src/lib/inputs.ts
  packages/trpc/src/router/album.ts
  packages/trpc/src/router/artist.ts
  packages/trpc/src/router/get.ts
  packages/trpc/src/router/playlist.ts
  packages/trpc/src/router/show.ts
  packages/trpc/src/router/song.ts
  packages/trpc/src/router/utils.ts
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

chore: trim redundant tsconfig options, package scripts and ui peer
  bun.lock
  packages/trpc/package.json
  packages/trpc/tsconfig.json
  packages/types/package.json
  packages/typescript-config/base.json
  packages/typescript-config/react-library.json
  packages/ui/package.json
Due: none

refactor(trpc): share artist songs/albums factory, drop trivial inputs
  apps/web/components/search/top-search.tsx
  packages/trpc/src/lib/inputs.ts
  packages/trpc/src/router/artist.ts
  packages/trpc/src/router/home.ts
  packages/trpc/src/router/search.ts
  packages/trpc/tests/empty-results.test.ts
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

ci: run once per PR update, use .bun-version, drop song smoke check and pkill
  .github/workflows/ci.yml
Due: none

refactor(trpc): dedupe playlist ownership checks, rename changePassword, trim deleteUser result
  apps/web/app/(root)/settings/_components/profile-form.tsx
  apps/web/lib/actions.ts
  apps/web/lib/db/queries.ts
  packages/trpc/src/router/user.ts
  packages/trpc/tests/user-router.test.ts
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

docs(verify): use the compose stack and fix stale feature file claims
  .agents/skills/verify/SKILL.md
  .agents/skills/verify/features/README.md
  .agents/skills/verify/features/access-control.md
  .agents/skills/verify/features/account-settings.md
  .agents/skills/verify/features/auth-email.md
  .agents/skills/verify/features/auth-passkey.md
  .agents/skills/verify/features/browse-and-entities.md
  .agents/skills/verify/features/favorites.md
  .agents/skills/verify/features/library.md
  .agents/skills/verify/features/player-queue.md
  .agents/skills/verify/features/playlists.md
  .agents/skills/verify/features/radio.md
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache

refactor(trpc): derive bitrate list from QUALITIES_MAP
  packages/trpc/src/lib/download.ts
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

docs: fix broken links, aliases, test command and stale migration notes
  README.md
  docs/plans/migration-plan.md
  docs/reference/project.md
  docs/research/radio-research.md
  docs/verification/verification-issues.md
  packages/typescript-config/README.md
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache
