Repository rajput-hemant/infinitunes: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

feat(web): add the pressed fill token
  apps/web/styles/globals.css
Due: none

style(web): format the favorite state test
  apps/web/tests/dom/favorite-state.test.tsx
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

test(web): select menu actions by shrink-0 instead of a height class
  apps/web/tests/dom/favorite-state.test.tsx
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

feat(design): liquid glass mockup, adjustable glass controls and pixel audit spec
  design-mockups/final/SPEC.md
  design-mockups/final/app.js
  design-mockups/final/glass-spec.md
  design-mockups/final/glass.css
  design-mockups/final/glass.js
  design-mockups/final/index.html
  design-mockups/final/style.css
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache

feat(ui): implement liquid glass phase 1
  apps/web/components/glass/glass-filters.tsx
  apps/web/components/glass/glass-surface.tsx
  apps/web/components/glass/use-glass-lens.ts
  apps/web/lib/glass/capabilities.ts
  apps/web/lib/glass/engine.ts
  apps/web/lib/theme-config.ts
  apps/web/lib/theme/html.ts
  apps/web/styles/glass.css
  apps/web/tests/dom/glass-surface.test.tsx
  apps/web/tests/glass-engine.test.ts
  apps/web/tests/theme-config.test.ts
  docs/design-system/glass.md
  docs/design-system/ownership.json
  packages/types/src/config.ts
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

style: format the ownership map
  docs/design-system/ownership.json
Due: none

test(web): render the glass surface test with the repo's react-dom pattern
  apps/web/tests/dom/glass-surface.test.tsx
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

fix(web): apply accessibility, target size, and error handling fixes
  apps/web/app/(auth)/_components/forgot-password-form.tsx
  apps/web/app/(auth)/_components/login-form.tsx
  apps/web/app/(root)/settings/_components/passkey-settings.tsx
  apps/web/components/expanded-player.tsx
  apps/web/components/language-bar.tsx
  apps/web/components/library/library-song-list.tsx
  apps/web/components/player.tsx
  apps/web/components/search/search-ui.ts
  apps/web/components/slider/slider-card.tsx
  apps/web/tests/dom/expanded-player.test.tsx
  apps/web/tests/dom/player-renders.test.tsx
  apps/web/tests/dom/queue-sheet.test.tsx
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

fix(web): wrap cards and skeletons in CatalogGrid and Shelf containers
  apps/web/app/(root)/album/loading.tsx
  apps/web/app/(root)/artist/[name]/[token]/_components/artists-top-items.tsx
  apps/web/app/(root)/artist/loading.tsx
  apps/web/app/(root)/label/[name]/[token]/loading.tsx
  apps/web/app/(root)/loading.tsx
  apps/web/app/(root)/me/(layout-a)/_components/liked-collection.tsx
  apps/web/app/(root)/me/(layout-a)/albums/loading.tsx
  apps/web/app/(root)/me/(layout-a)/artists/loading.tsx
  apps/web/app/(root)/me/(layout-a)/loading.tsx
  apps/web/app/(root)/me/(layout-a)/page.tsx
  apps/web/app/(root)/me/(layout-a)/playlists/loading.tsx
  apps/web/app/(root)/me/(layout-a)/shows/loading.tsx
  apps/web/app/(root)/playlist/loading.tsx
  apps/web/app/(root)/radio/loading.tsx
  apps/web/app/(root)/show/[name]/[season]/[token]/loading.tsx
  apps/web/app/(root)/show/[name]/[season]/[token]/page.tsx
  apps/web/app/(root)/show/loading.tsx
  apps/web/app/(root)/show/page.tsx
  apps/web/components/playlist/new-playlist-card.tsx
  apps/web/components/skeletons/album-grid-skeleton.tsx
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

refactor(web): type the glass surface, lens hook and capability check, scope the search palette observer
  apps/web/components/glass/glass-filters.tsx
  apps/web/components/glass/glass-surface.tsx
  apps/web/components/glass/use-glass-lens.ts
  apps/web/components/search/use-search-palette-keys.ts
  apps/web/lib/glass/capabilities.ts
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

style(web): format the glass lens hook
  apps/web/components/glass/use-glass-lens.ts
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

test(web): cover the theme config provider apply, save and reset behavior
  apps/web/tests/dom/theme-config-provider.test.tsx
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

docs(design): add the phase 2 migration prompt for cloud agents
  docs/design-system/PHASE2-PROMPT.md
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache

chore(design): add phase 2 work package ownership units
  docs/design-system/ownership.json
Due: none

docs(design): add liquid glass research note and gap table
  docs/design-system/liquid-glass-research.md
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache

fix(web): opt the auth layout out of instant validation after the merge
  apps/web/app/(auth)/layout.tsx
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

chore(design): extend ds2 ownership for the glass engine and queue pre-paint
  docs/design-system/ownership.json
Due: none

feat(web): add shuffle and share to detail header, browse tiles and home hero
  apps/web/app/(root)/_components/home-hero.tsx
  apps/web/app/(root)/_components/quick-picks.tsx
  apps/web/app/(root)/browse/_components/browse-tile.tsx
  apps/web/app/(root)/browse/_components/tile-palette.ts
  apps/web/app/(root)/browse/loading.tsx
  apps/web/app/(root)/browse/page.tsx
  apps/web/app/(root)/page.tsx
  apps/web/components/details-header/details-header.tsx
  apps/web/components/details-header/share-button.tsx
  apps/web/components/play-button.tsx
  apps/web/components/skeletons/details-header-skeleton.tsx
  apps/web/components/skeletons/home-skeleton.tsx
  apps/web/tests/dom/browse-page.test.tsx
  apps/web/tests/dom/details-header-share.test.tsx
  apps/web/tests/dom/home-page.test.tsx
  apps/web/tests/dom/play-button-shuffle.test.tsx
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

feat(web): use the home skeleton with hero and quick picks as the root loading state
  apps/web/app/(root)/loading.tsx
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

docs(design): document the 0.62 ambient default and the data-glass-level attribute
  docs/design-system/tokens.md
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache

docs(design): name the glass level attribute in the config table
  docs/design-system/tokens.md
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache

chore(design): give overlay glass rules to ds2-wp5
  docs/design-system/ownership.json
Due: none

feat(web): wire Liquid Glass tuning sliders to the theme config
  apps/web/app/(root)/settings/_components/glass-backdrop.tsx
  apps/web/app/(root)/settings/_components/glass-demo.tsx
  apps/web/app/(root)/settings/_components/glass-tuning.ts
  apps/web/app/(root)/settings/_components/liquid-glass-settings.tsx
  apps/web/app/(root)/settings/_components/range-field.tsx
  apps/web/app/(root)/settings/_components/theme-preview.tsx
  apps/web/tests/dom/glass-tuning.test.ts
  apps/web/tests/dom/liquid-glass-settings.test.tsx
  apps/web/tests/dom/preference-settings.test.tsx
  apps/web/tests/dom/settings-touch-targets.test.tsx
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

fix(web): allow a fully transparent glass tint
  apps/web/lib/theme-config.ts
  apps/web/tests/theme-config.test.ts
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

feat(web): glass tooltips and the palette Go to group
  apps/web/components/search/search-go-to.tsx
  apps/web/components/search/search-menu.tsx
  apps/web/components/search/search-palette-body.tsx
  apps/web/components/search/search-row.tsx
  apps/web/components/search/search-ui.ts
  apps/web/styles/glass.css
  apps/web/tests/dom/search-menu.test.tsx
  apps/web/tests/glass-overlay-slots.test.ts
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

feat(web): float the shell on glass sidebar, toolbar and tab bar
  apps/web/app/(root)/layout.tsx
  apps/web/components/sidebar.tsx
  apps/web/components/site-header/mobile-nav.tsx
  apps/web/components/site-header/navbar.tsx
  apps/web/components/site-header/toolbar-navigation.tsx
  apps/web/components/site-header/toolbar.tsx
  apps/web/tests/dom/sidebar-shell.test.tsx
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

feat(web): apply liquid glass to the player bar, queue pane and expanded player
  apps/web/components/expanded-player.tsx
  apps/web/components/player.tsx
  apps/web/components/player/bar-button.tsx
  apps/web/components/player/controls.tsx
  apps/web/components/player/queue-list.tsx
  apps/web/components/player/seek-bar.tsx
  apps/web/components/player/track-artwork.ts
  apps/web/components/queue.tsx
  apps/web/lib/theme-script.ts
  apps/web/tests/dom/player-renders.test.tsx
  apps/web/tests/dom/queue-sheet.test.tsx
  apps/web/tests/dom/theme-bootstrap.test.ts
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

docs(design): document glass tooltips
  apps/web/lib/glass/overlays.ts
  docs/design-system/glass.md
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

feat(web): morph the floating queue out of the player below 1440px
  apps/web/styles/glass.css
Due: none

chore(design): add ownership for WP7b and the WP8 sweeps
  docs/design-system/ownership.json
Due: none

refactor(web): split settings components and remove casts
  apps/web/app/(root)/settings/_components/appearance-settings.tsx
  apps/web/app/(root)/settings/_components/glass-tuning.ts
  apps/web/app/(root)/settings/_components/language-options.ts
  apps/web/app/(root)/settings/_components/liquid-glass-settings.tsx
  apps/web/app/(root)/settings/_components/option-group.tsx
  apps/web/app/(root)/settings/_components/passkey-list.tsx
  apps/web/app/(root)/settings/_components/passkey-settings.tsx
  apps/web/app/(root)/settings/_components/preference-settings.tsx
  apps/web/app/(root)/settings/_components/profile-form.tsx
  apps/web/app/(root)/settings/_components/quality-row.tsx
  apps/web/app/(root)/settings/_components/radius-settings.tsx
  apps/web/app/(root)/settings/_components/settings-nav-groups.ts
  apps/web/app/(root)/settings/_components/settings-nav.tsx
  apps/web/app/(root)/settings/_components/settings-row.tsx
  apps/web/app/(root)/settings/_components/settings-section.tsx
  apps/web/app/(root)/settings/_components/typography-settings.tsx
  apps/web/app/(root)/settings/preferences/page.tsx
  apps/web/tests/dom/liquid-glass-settings.test.tsx
  apps/web/tests/dom/preference-settings.test.tsx
  apps/web/tests/dom/profile-form.test.tsx
  apps/web/tests/dom/settings-test-utils.ts
  apps/web/tests/dom/settings-touch-targets.test.tsx
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

refactor(web): sweep search, library, playlist and auth modal code
  apps/web/app/(root)/me/(layout-a)/_components/logout.tsx
  apps/web/app/(root)/me/(layout-a)/layout.tsx
  apps/web/app/(root)/me/playlist/[id]/page.tsx
  apps/web/app/(root)/search/[type]/[query]/_components/search-navbar.tsx
  apps/web/app/(root)/search/[type]/[query]/_components/search-results.tsx
  apps/web/app/(root)/search/_components/mobile-search.tsx
  apps/web/app/@modal/auth-modal.tsx
  apps/web/components/library/library-section.tsx
  apps/web/components/library/library-song-list.tsx
  apps/web/components/library/play-all-button.tsx
  apps/web/components/playlist/new-playlist-form.tsx
  apps/web/components/playlist/playlist-fields.tsx
  apps/web/components/playlist/playlist-manage-menu.tsx
  apps/web/components/playlist/rename-playlist-dialog.tsx
  apps/web/components/search/search-field.tsx
  apps/web/components/search/search-item.ts
  apps/web/components/search/search-menu.tsx
  apps/web/components/share-options.tsx
  apps/web/components/song-list/more-button.tsx
  apps/web/components/user-dropdown.tsx
  apps/web/tests/dom/add-to-playlist-dialog.test.tsx
  apps/web/tests/dom/library-song-list.test.tsx
  apps/web/tests/dom/playlist-unknown-state.test.tsx
  apps/web/tests/dom/search-menu.test.tsx
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

refactor(web): sweep catalog, detail and auth pages for code quality
  apps/web/app/(auth)/_components/auth-intro.tsx
  apps/web/app/(auth)/_components/forgot-password-form.tsx
  apps/web/app/(auth)/_components/login-form.tsx
  apps/web/app/(auth)/_components/oauth-buttons.tsx
  apps/web/app/(auth)/_components/reset-password-form.tsx
  apps/web/app/(auth)/_components/signup-form.tsx
  apps/web/app/(auth)/forgot-password/page.tsx
  apps/web/app/(auth)/layout.tsx
  apps/web/app/(auth)/login/page.tsx
  apps/web/app/(auth)/reset-password/page.tsx
  apps/web/app/(auth)/signup/page.tsx
  apps/web/app/(root)/album/[name]/[token]/_components/secondary-lists.tsx
  apps/web/app/(root)/album/[name]/[token]/loading.tsx
  apps/web/app/(root)/album/_components/top-albums.tsx
  apps/web/app/(root)/artist/[name]/[token]/_components/artists-tab-list.tsx
  apps/web/app/(root)/artist/[name]/[token]/_components/artists-top-items.tsx
  apps/web/app/(root)/artist/[name]/[token]/_components/category-filter.tsx
  apps/web/app/(root)/artist/[name]/[token]/_components/tabs.ts
  apps/web/app/(root)/artist/[name]/[token]/page.tsx
  apps/web/app/(root)/episode/[name]/[token]/page.tsx
  apps/web/app/(root)/error.tsx
  apps/web/app/(root)/playlist/[name]/[token]/_components/secondary-lists.tsx
  apps/web/app/(root)/playlist/[name]/[token]/loading.tsx
  apps/web/app/(root)/playlist/_components/featured-playlists.tsx
  apps/web/app/(root)/privacy/page.tsx
  apps/web/app/(root)/radio/[name]/[token]/page.tsx
  apps/web/app/(root)/radio/_components/featured-stations.tsx
  apps/web/app/(root)/radio/page.tsx
  apps/web/app/(root)/show/[name]/[season]/[token]/_components/episode-list.tsx
  apps/web/app/(root)/show/[name]/[season]/[token]/page.tsx
  apps/web/app/(root)/show/_components/top-podcasts.tsx
  apps/web/app/(root)/song/[name]/[token]/_components/lyrics.tsx
  apps/web/app/(root)/song/[name]/[token]/page.tsx
  apps/web/app/(root)/terms/page.tsx
  apps/web/app/error.tsx
  apps/web/tests/dom/login-redirect.test.tsx
  apps/web/tests/dom/password-toggle.test.tsx
  apps/web/tests/dom/reset-password.test.tsx
  apps/web/tests/dom/signup-redirect.test.tsx
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

refactor(web): split player bar, expanded player and queue into focused parts
  apps/web/components/download-button.tsx
  apps/web/components/expanded-player.tsx
  apps/web/components/like-button.tsx
  apps/web/components/player-wrapper.tsx
  apps/web/components/player.tsx
  apps/web/components/player/artwork-wash.tsx
  apps/web/components/player/controls.tsx
  apps/web/components/player/expanded-body.tsx
  apps/web/components/player/expanded-seek.tsx
  apps/web/components/player/player-actions.tsx
  apps/web/components/player/player-track-info.tsx
  apps/web/components/player/player-transport.tsx
  apps/web/components/player/player-volume.tsx
  apps/web/components/player/queue-list.tsx
  apps/web/components/player/queue-row.tsx
  apps/web/components/player/seek-bar.tsx
  apps/web/components/player/track-index.ts
  apps/web/components/player/use-queue-pane.ts
  apps/web/components/player/use-queue-removal.ts
  apps/web/components/player/use-swipe.ts
  apps/web/components/queue.tsx
  apps/web/lib/theme-script.ts
  apps/web/tests/dom/player-swipe.test.tsx
  apps/web/tests/dom/queue-sheet.test.tsx
  apps/web/tests/player-track-index.test.ts
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

test(web): cover settings language cookie parsing
  apps/web/tests/dom/settings-language-cookie.test.ts
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

feat(web): bleed detail band under toolbar with artwork signals
  apps/web/app/(root)/layout.tsx
  apps/web/components/details-header/details-header-band.ts
  apps/web/components/details-header/details-header-frame.tsx
  apps/web/components/details-header/details-header-items.ts
  apps/web/components/details-header/details-header-meta.tsx
  apps/web/components/details-header/details-header.tsx
  apps/web/components/details-header/more-button.tsx
  apps/web/components/details-header/toolbar-title.tsx
  apps/web/components/details-header/use-toolbar-art.ts
  apps/web/components/site-header/lang-guard.ts
  apps/web/components/site-header/language-picker.tsx
  apps/web/components/site-header/navbar.tsx
  apps/web/components/site-header/surprise-me-button.tsx
  apps/web/components/site-header/toolbar-slots.ts
  apps/web/components/skeletons/details-header-skeleton.tsx
  apps/web/tests/details-header-fixtures.ts
  apps/web/tests/details-header-items.test.ts
  apps/web/tests/details-header-radio.test.ts
  apps/web/tests/dom/details-header-toolbar.test.tsx
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

test(web): follow the narrowed season lookup in the details header
  apps/web/tests/player-a11y.test.ts
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

chore(design): add ownership for the home and controls sweep
  docs/design-system/ownership.json
Due: none

refactor(web): share sign-out, route error, catalog load-more and hydration code
  apps/web/app/(root)/album/_components/top-albums.tsx
  apps/web/app/(root)/error.tsx
  apps/web/app/(root)/me/(layout-a)/_components/logout.tsx
  apps/web/app/(root)/playlist/_components/featured-playlists.tsx
  apps/web/app/(root)/playlist/page.tsx
  apps/web/app/(root)/radio/_components/featured-stations.tsx
  apps/web/app/(root)/search/[type]/[query]/_components/search-results.tsx
  apps/web/app/(root)/settings/_components/appearance-settings.tsx
  apps/web/app/(root)/show/_components/top-podcasts.tsx
  apps/web/app/error.tsx
  apps/web/components/catalog-load-more.tsx
  apps/web/components/playlist/add-to-playlist-dialog.tsx
  apps/web/components/playlist/new-playlist-form.tsx
  apps/web/components/route-error.tsx
  apps/web/components/search/search-menu.tsx
  apps/web/components/sidebar.tsx
  apps/web/components/site-footer/theme-toggle-group.tsx
  apps/web/components/user-dropdown.tsx
  apps/web/hooks/use-is-hydrated.ts
  apps/web/hooks/use-sign-out.ts
  apps/web/tests/dom/catalog-load-more.test.tsx
  apps/web/tests/dom/search-results-podcasts.test.tsx
  apps/web/tests/dom/use-is-hydrated.test.tsx
  apps/web/tests/dom/use-sign-out.test.tsx
  packages/types/src/search.ts
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

Path conditions:
  prettier --write "**/*.{ts,tsx,mdx}" --cache: any of: *.{ts,tsx,md,mdx}
  eslint --fix .: any of: *.{ts,tsx,mdx}
