Repository rajput-hemant/infinitunes: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

docs(verify): record browser-verify2 results
  docs/TODO.md
  docs/verification/browser-verify2-2026-10-07.md
  docs/verification/browser-verify2-2026-10-07/home-320.png
  docs/verification/browser-verify2-2026-10-07/megamenu-1280.png
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache

fix(web): remove effect-driven state to clear lint warnings
  apps/web/app/(root)/me/(layout-a)/_components/navbar.tsx
  apps/web/app/(root)/search/layout.tsx
  apps/web/components/image-with-fallback.tsx
  apps/web/components/search/search-menu.tsx
  apps/web/hooks/use-hash.ts
  apps/web/tests/dom/external-store-hooks.test.tsx
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

chore(deps): bump sharp and mcp sdk within range in lockfile
  bun.lock
Due: none

docs(todo): record small-items results
  docs/TODO.md
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache

fix: keep search closed after navigation
  apps/web/components/search/search-menu.tsx
  apps/web/tests/dom/search-menu.test.tsx
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

fix: retry artwork after source changes
  apps/web/components/image-with-fallback.tsx
  apps/web/tests/dom/external-store-hooks.test.tsx
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

fix(a11y): 44px song menu rows on mobile
  apps/web/components/song-list/more-button.tsx
  apps/web/components/song-list/more-links.tsx
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

fix(a11y): 44px library and playlist targets at 390
  apps/web/app/(root)/me/(layout-a)/_components/logout.tsx
  apps/web/app/(root)/me/(layout-a)/_components/navbar.tsx
  apps/web/app/(root)/me/(layout-a)/layout.tsx
  apps/web/app/(root)/me/(layout-a)/page.tsx
  apps/web/app/(root)/me/playlist/[id]/page.tsx
  apps/web/components/library/library-section.tsx
  apps/web/components/library/library-song-list.tsx
  apps/web/components/library/retry-button.tsx
  apps/web/components/playlist/new-playlist-form.tsx
  apps/web/components/playlist/playlist-manage-menu.tsx
  apps/web/components/playlist/rename-playlist-dialog.tsx
  apps/web/tests/dom/library-unavailable.test.tsx
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

fix(a11y): lighter dark destructive text for 4.5:1
  apps/web/lib/utils.ts
  apps/web/tests/utils.test.ts
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

fix(settings): leave signed-in page after account deletion
  apps/web/app/(root)/settings/_components/profile-form.tsx
  apps/web/tests/dom/profile-form.test.tsx
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

docs(verify): record signed-in verification
  docs/TODO.md
  docs/verification/signedin-verify-2026-10-07.md
  docs/verification/signedin-verify-2026-10-07/delete-dialog-1280-light.png
  docs/verification/signedin-verify-2026-10-07/expanded-390-dark.png
  docs/verification/signedin-verify-2026-10-07/expanded-390-light.png
  docs/verification/signedin-verify-2026-10-07/forced-colors-1280-light-playlist.png
  docs/verification/signedin-verify-2026-10-07/forced-colors-390-dark-liked.png
  docs/verification/signedin-verify-2026-10-07/lib-alert-390-dark.png
  docs/verification/signedin-verify-2026-10-07/lib-empty-390-dark.png
  docs/verification/signedin-verify-2026-10-07/player-1280-light.png
  docs/verification/signedin-verify-2026-10-07/player-390-dark.png
  docs/verification/signedin-verify-2026-10-07/queue-1280-dark.png
  docs/verification/signedin-verify-2026-10-07/queue-1280-light.png
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache

fix: keep song menu rows scrollable
  apps/web/components/song-list/more-button.tsx
  apps/web/components/song-list/more-links.tsx
  apps/web/tests/dom/favorite-state.test.tsx
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

chore(cleanup): remove dead code
  AGENTS.md
  apps/web/instrumentation.ts
  bun.lock
  docs/TODO.md
  knip.json
  package.json
  packages/db/package.json
  packages/db/src/backfill.ts
  packages/db/src/db.ts
  packages/db/tests/backfill.test.ts
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

docs(todo): record cleanup commit
  docs/TODO.md
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache

fix(nav): link View all Music to /search
  apps/web/components/site-header/main-nav.tsx
  apps/web/tests/dom/main-nav.test.tsx
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

docs(todo): mark OBS-4 and UI-37 done
  docs/TODO.md
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache

feat(nav): wire Surprise Me to play shuffled trending songs
  apps/web/components/site-header/secondary-navbar.tsx
  apps/web/components/site-header/surprise-me-button.tsx
  apps/web/tests/dom/surprise-me-button.test.tsx
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

refactor(db): remove legacy auth rollback
  .agents/skills/verify/features/account-settings.md
  apps/web/tests/mocked/security.test.ts
  docs/verification/live-db-checks-2026-10-06.md
  docs/verification/signedin-verify-2026-10-07.md
  packages/auth/src/auth.ts
  packages/auth/tests/auth.test.ts
  packages/db/src/migrate.ts
  packages/db/src/migrations/0007_empty_banshee.sql
  packages/db/src/migrations/meta/0007_snapshot.json
  packages/db/src/migrations/meta/_journal.json
  packages/db/src/schema.ts
  packages/db/src/seed.ts
  packages/db/tests/schema.test.ts
  packages/trpc/src/router/user.ts
  packages/trpc/tests/user-router.test.ts
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

fix(surprise-me): ignore stale and duplicate fetches, close sheet
  apps/web/components/site-header/secondary-navbar.tsx
  apps/web/components/site-header/surprise-me-button.tsx
  apps/web/tests/dom/surprise-me-button.test.tsx
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

docs: close legacy auth rollback tasks
  docs/TODO.md
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache

chore: apply repository hygiene updates
  .github/workflows/ci.yml
  AGENTS.md
  apps/web/next.config.ts
  docs/TODO.md
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

docs: soften pin note
  AGENTS.md
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache

fix(web): copy auth request from url, method and body
  apps/web/lib/client-ip.ts
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

docs(verify): live verify skill and gap-closing run
  .agents/skills/verify/SKILL.md
  .agents/skills/verify/features/README.md
  .agents/skills/verify/features/auth-email.md
  .agents/skills/verify/features/favorites.md
  .agents/skills/verify/features/player-queue.md
  .agents/skills/verify/features/ui-quality.md
  .agents/skills/verify/scripts/cdp-media.mjs
  docs/TODO.md
  docs/verification/skill-verify-2026-10-10.md
  docs/verification/skill-verify-2026-10-10/forced-colors-390-light-liked.png
  docs/verification/skill-verify-2026-10-10/forced-colors-390-light-settings.png
  docs/verification/skill-verify-2026-10-10/w1920-liked.png
  docs/verification/skill-verify-2026-10-10/w320-settings.png
  docs/verification/skill-verify-2026-10-10/zoom200-liked-640x400.png
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache

fix(db): guard legacy auth removal
  docs/local-development.md
  docs/verification/live-db-checks-2026-10-06.md
  packages/db/src/migrate.ts
  packages/db/src/migrations/0007_empty_banshee.sql
  packages/db/tests/migrate.test.ts
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

fix(web): 24px queue artist targets, mobile unlike test
  apps/web/components/queue.tsx
  apps/web/tests/dom/library-song-list.test.tsx
  apps/web/tests/dom/queue-sheet.test.tsx
  docs/TODO.md
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

fix(web): clear surprise-me lint warnings
  apps/web/components/site-header/surprise-me-button.tsx
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

fix: guard empty image src in player/queue/components (UI-61)
  AGENTS.md
  apps/web/components/details-header/more-button.tsx
  apps/web/components/image-collage.tsx
  apps/web/components/image-with-fallback.tsx
  apps/web/components/queue.tsx
  apps/web/components/search/top-search.tsx
  apps/web/components/site-header/main-nav.tsx
  apps/web/components/site-header/secondary-navbar.tsx
  apps/web/components/song-list/more-button.tsx
  apps/web/components/song-list/song-list.client.tsx
  apps/web/components/song-list/song-list.tsx
  apps/web/tests/dom/empty-image-src.test.tsx
  docs/TODO.md
  packages/types/src/media.ts
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

fix(web): mobile touch targets, login password rules, like button contract
  apps/web/app/(root)/settings/_components/appearance-settings.tsx
  apps/web/app/(root)/settings/_components/passkey-settings.tsx
  apps/web/app/(root)/settings/_components/preference-settings.tsx
  apps/web/app/(root)/settings/_components/profile-form.tsx
  apps/web/app/(root)/settings/_components/side-navbar-items.tsx
  apps/web/app/(root)/settings/_components/side-navbar.tsx
  apps/web/components/song-list/song-list.client.tsx
  apps/web/components/song-list/song-list.tsx
  apps/web/tests/dom/settings-touch-targets.test.tsx
  apps/web/tests/mocked/song-list-like-mobile.test.tsx
  docs/TODO.md
  packages/auth/src/schemas.ts
  packages/auth/tests/schemas.test.ts
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

Revert "fix: guard empty image src in player/queue/components (UI-61)"
  AGENTS.md
  apps/web/components/details-header/more-button.tsx
  apps/web/components/image-collage.tsx
  apps/web/components/image-with-fallback.tsx
  apps/web/components/queue.tsx
  apps/web/components/search/top-search.tsx
  apps/web/components/site-header/main-nav.tsx
  apps/web/components/site-header/secondary-navbar.tsx
  apps/web/components/song-list/more-button.tsx
  apps/web/components/song-list/song-list.client.tsx
  apps/web/components/song-list/song-list.tsx
  apps/web/tests/dom/empty-image-src.test.tsx
  docs/TODO.md
  packages/types/src/media.ts
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

fix: tolerate secondary catalog failures
  apps/web/lib/liked-songs.ts
  apps/web/tests/liked-songs.test.ts
  docs/TODO.md
  packages/trpc/src/router/album.ts
  packages/trpc/src/router/artist.ts
  packages/trpc/src/router/get.ts
  packages/trpc/src/router/playlist.ts
  packages/trpc/src/router/search.ts
  packages/trpc/src/router/song.ts
  packages/trpc/src/router/utils.ts
  packages/trpc/tests/empty-results.test.ts
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

fix: surface outages in liked-songs recovery and secondary lists
  apps/web/lib/liked-songs.ts
  apps/web/tests/error-code.test.ts
  apps/web/tests/liked-songs.test.ts
  docs/TODO.md
  packages/trpc/src/lib/api.ts
  packages/trpc/src/router/utils.ts
  packages/trpc/tests/empty-results.test.ts
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

feat: stream detail page sections
  apps/web/app/(root)/album/[name]/[token]/_components/secondary-lists.tsx
  apps/web/app/(root)/album/[name]/[token]/page.tsx
  apps/web/app/(root)/artist/[name]/[token]/page.tsx
  apps/web/app/(root)/playlist/[name]/[token]/_components/secondary-lists.tsx
  apps/web/app/(root)/playlist/[name]/[token]/page.tsx
  apps/web/app/(root)/show/[name]/[season]/[token]/page.tsx
  apps/web/app/(root)/song/[name]/[token]/page.tsx
  docs/TODO.md
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

fix: guard empty image src in player and details components
  AGENTS.md
  apps/web/components/details-header/more-button.tsx
  apps/web/components/image-collage.tsx
  apps/web/components/image-with-fallback.tsx
  apps/web/components/queue.tsx
  apps/web/components/search/top-search.tsx
  apps/web/components/song-list/more-button.tsx
  apps/web/components/song-list/song-list.client.tsx
  apps/web/components/song-list/song-list.tsx
  apps/web/tests/dom/empty-image-src.test.tsx
  docs/TODO.md
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

fix: harden streamed detail sections
  apps/web/app/(root)/album/[name]/[token]/_components/secondary-lists.tsx
  apps/web/app/(root)/album/[name]/[token]/page.tsx
  apps/web/app/(root)/artist/[name]/[token]/page.tsx
  apps/web/app/(root)/playlist/[name]/[token]/_components/secondary-lists.tsx
  apps/web/app/(root)/playlist/[name]/[token]/page.tsx
  apps/web/app/(root)/show/[name]/[season]/[token]/page.tsx
  apps/web/app/(root)/song/[name]/[token]/page.tsx
  docs/TODO.md
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

fix(a11y): keep queue thumbnails decorative
  apps/web/components/queue.tsx
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

fix(web): hide empty playlist trending and tighten suspense fallbacks
  apps/web/app/(root)/artist/[name]/[token]/loading.tsx
  apps/web/app/(root)/artist/[name]/[token]/page.tsx
  apps/web/app/(root)/playlist/[name]/[token]/_components/secondary-lists.tsx
  apps/web/app/(root)/song/[name]/[token]/page.tsx
  apps/web/components/skeletons/album-grid-skeleton.tsx
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

feat: add browse redirect plus terms and privacy pages, render search on desktop
  apps/web/app/(root)/browse/page.tsx
  apps/web/app/(root)/privacy/page.tsx
  apps/web/app/(root)/search/layout.tsx
  apps/web/app/(root)/terms/page.tsx
  apps/web/components/site-header/main-nav.tsx
  apps/web/tests/dom/external-store-hooks.test.tsx
  apps/web/tests/legal-routes.test.ts
  docs/TODO.md
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

test: drop source-text route tests
  apps/web/tests/legal-routes.test.ts
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

docs: merge verification archives into verification-history, close PQ-12 and UI-23 as won't do
  .agents/skills/verify/SKILL.md
  .agents/skills/verify/features/README.md
  .agents/skills/verify/features/access-control.md
  .agents/skills/verify/features/account-settings.md
  .agents/skills/verify/features/auth-email.md
  .agents/skills/verify/features/auth-oauth.md
  .agents/skills/verify/features/auth-passkey.md
  .agents/skills/verify/features/browse-and-entities.md
  .agents/skills/verify/features/favorites.md
  .agents/skills/verify/features/library.md
  .agents/skills/verify/features/player-queue.md
  .agents/skills/verify/features/playlists.md
  .agents/skills/verify/features/preferences.md
  .agents/skills/verify/features/radio.md
  .agents/skills/verify/features/search.md
  .agents/skills/verify/features/ui-quality.md
  docs/TODO.md
  docs/archive/migration-acceptance.md
  docs/archive/verification-history.md
  docs/archive/verification-issues.md
  docs/plans/migration-plan.md
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache

Path conditions:
  prettier --write "**/*.{ts,tsx,mdx}" --cache: any of: *.{ts,tsx,md,mdx}
  eslint --fix .: any of: *.{ts,tsx,mdx}
