Repository rajput-hemant/infinitunes: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

.lintstagedrc:

{
  "*.{ts,tsx,md,mdx}": ["prettier --write \"**/*.{ts,tsx,mdx}\" --cache"],
  "*.{ts,tsx,mdx}": ["eslint --fix ."]
}

refactor(web): remove unused --chart-* CSS variables (PT-57)
  apps/web/styles/globals.css
  apps/web/styles/themes.css
  apps/web/tests/fixtures/shadcn-init-neutral-variables.css
Due: none

feat(ui): add shadcn Empty and Alert and use them in the library states
  apps/web/components/library/library-section.tsx
  packages/ui/src/components/ui/alert.tsx
  packages/ui/src/components/ui/empty.tsx
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

fix(trpc): share playlist name and description limits between router and form
  apps/web/lib/validations.ts
  packages/trpc/src/router/user.ts
  packages/trpc/tests/user-router.test.ts
  packages/types/src/playlist.ts
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

feat(web): clamp row artists, wrap header titles, hide missing plays
  apps/web/components/details-header/details-header.tsx
  apps/web/components/expanded-player.tsx
  apps/web/components/queue.tsx
  apps/web/components/song-list/artist-links.tsx
  apps/web/components/song-list/song-list.client.tsx
  apps/web/components/song-list/song-list.tsx
  apps/web/tests/dom/artist-links.test.tsx
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

docs: fix stale statements in AGENTS.md (DS-12, DV-10)
  AGENTS.md
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache

fix(web): address review nits on rows, credits, counts and alert
  apps/web/components/details-header/details-header.tsx
  apps/web/components/library/library-section.tsx
  apps/web/components/queue.tsx
  apps/web/components/song-list/artist-links.tsx
  apps/web/components/song-list/song-list.client.tsx
  apps/web/components/song-list/song-list.tsx
  apps/web/tests/dom/artist-links.test.tsx
  apps/web/tests/dom/library-unavailable.test.tsx
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

fix(auth): key Better Auth rate limiter on trusted client IP
  AGENTS.md
  apps/web/app/api/auth/[...all]/route.ts
  apps/web/lib/auth.ts
  apps/web/lib/client-ip.ts
  apps/web/tests/client-ip.test.ts
  packages/auth/src/auth.ts
  packages/auth/tests/auth.test.ts
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

fix(web): render one Close button in the expanded player sheet
  apps/web/components/expanded-player.tsx
  apps/web/tests/dom/expanded-player.test.tsx
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

fix(web): keep playlist icon box from shrinking and add title to long names (UI-53)
  apps/web/components/playlist/add-to-playlist-dialog.tsx
  apps/web/tests/dom/add-to-playlist-dialog.test.tsx
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

docs(verify): record browser verification run of 2026-10-06
  docs/archive/browser-checks-2026-10-06.md
  docs/archive/screenshots/dv7-delete-dialog-1280.png
  docs/archive/screenshots/dv7-expanded-player-390.png
  docs/archive/screenshots/dv7-recently-played-real.png
  docs/archive/screenshots/dv8-like-toast-1280.png
  docs/archive/screenshots/dv8-signup-validation-1280.png
  docs/archive/screenshots/home-1280-dark.png
  docs/archive/screenshots/pq5-radio-refill.png
  docs/archive/screenshots/pq8-after-reload.png
  docs/archive/screenshots/pq8-restored-on-tip.png
  docs/archive/screenshots/ui-home-390-light.png
  docs/archive/screenshots/ui-me-390-dark.png
  docs/archive/screenshots/ui-settings-1280-light.png
  docs/archive/screenshots/ui49-queue-long-titles-1280.png
  docs/archive/screenshots/ui49-queue-long-titles-390.png
  docs/archive/screenshots/ui50-search-long-titles-390.png
  docs/archive/screenshots/ui53-add-to-playlist-1280.png
  docs/archive/screenshots/ui53-add-to-playlist-390.png
  docs/archive/screenshots/ui53-create-playlist-dialog.png
  docs/archive/screenshots/ui53-sidebar-1280.png
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache

docs(verify): add re-check on 741b454 to browser verification record
  docs/archive/browser-checks-2026-10-06.md
  docs/archive/screenshots/dv7-expanded-player-390-741b454.png
  docs/archive/screenshots/pq8-radio-restored-on-741b454.png
  docs/archive/screenshots/ui49-queue-long-titles-1280-741b454.png
  docs/archive/screenshots/ui50-search-long-titles-390-741b454.png
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache

docs(verification): record TC-3 real bcrypt/password-change paths confirmation
  docs/verification/live-db-checks-2026-10-06.md
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache

docs(verification): record AU-6 session revocation and fresh-session FORBIDDEN confirmation
  docs/verification/live-db-checks-2026-10-06.md
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache

docs(verification): record PT-63 seed idempotency confirmation
  docs/verification/live-db-checks-2026-10-06.md
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache

docs(verification): record DB-4 loopback credential logging confirmation
  docs/verification/live-db-checks-2026-10-06.md
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache

docs(verification): record CD-1 dead DATABASE_URL behavior confirmation
  docs/verification/live-db-checks-2026-10-06.md
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache

fix(web): decode album, alt and like name in song-list rows (D2)
  apps/web/components/song-list/more-button.tsx
  apps/web/components/song-list/song-list.client.tsx
  apps/web/components/song-list/song-list.tsx
  apps/web/tests/mocked/song-list-decode.test.tsx
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

fix(web): 44px touch targets on mobile chrome and detail header (D5)
  apps/web/components/details-header/details-header.tsx
  apps/web/components/details-header/more-button.tsx
  apps/web/components/site-header/language-picker.tsx
  apps/web/components/user-dropdown.tsx
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

fix(web): use red-700 for light destructive buttons, 4.5:1 (D4)
  apps/web/app/(root)/me/(layout-a)/_components/logout.tsx
  apps/web/app/(root)/settings/_components/passkey-settings.tsx
  apps/web/app/(root)/settings/_components/profile-form.tsx
  apps/web/components/playlist/playlist-manage-menu.tsx
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

docs(verify): record a11y polish verification
  docs/verification/a11y-polish-2026-10-06.md
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache

fix(auth): cap user name at 100 on Better Auth endpoints
  apps/web/lib/validations.ts
  packages/auth/src/auth.ts
  packages/auth/src/schemas.ts
  packages/auth/tests/auth.test.ts
  packages/trpc/src/router/user.ts
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

docs(verification): correct D4 contrast to text-red-700 on bg-destructive/10 (5.35:1)
  docs/verification/a11y-polish-2026-10-06.md
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache

fix(a11y): 44px mobile tap targets for search button and Browse sheet trigger
  apps/web/components/search/search-menu.tsx
  apps/web/components/site-header/secondary-navbar.tsx
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

test(web): assert decoded album cell, like name and getItemName in song rows
  apps/web/components/song-list/item-name.ts
  apps/web/components/song-list/more-button.tsx
  apps/web/tests/mocked/song-list-decode.test.tsx
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

refactor(web): share destructiveText class constant
  apps/web/app/(root)/me/(layout-a)/_components/logout.tsx
  apps/web/app/(root)/settings/_components/passkey-settings.tsx
  apps/web/app/(root)/settings/_components/profile-form.tsx
  apps/web/components/playlist/playlist-manage-menu.tsx
  apps/web/lib/utils.ts
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

style(a11y): make remaining text drop-shadows dark-only
  apps/web/app/(root)/error.tsx
  apps/web/app/(root)/settings/_components/side-navbar.tsx
  apps/web/app/error.tsx
  apps/web/app/not-found.tsx
  apps/web/components/player.tsx
  apps/web/components/search/search-all.tsx
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

perf(player): isolate playhead position from PlayerInner renders
  apps/web/components/expanded-player.tsx
  apps/web/components/player.tsx
  apps/web/lib/position-store.ts
  apps/web/tests/dom/expanded-player.test.tsx
  apps/web/tests/dom/player-renders.test.tsx
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

test(web): render MainNav to check the mega menu trigger
  apps/web/tests/dom/main-nav.test.tsx
  apps/web/tests/mobile-shell.test.ts
  apps/web/tests/player-a11y.test.ts
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

chore(player): drop unused seekFormat
  apps/web/components/player.tsx
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

fix(auth): truncate over-long OAuth names on create instead of failing sign-in
  packages/auth/src/auth.ts
  packages/auth/tests/auth.test.ts
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

test(web): select main-nav trigger by Music text and type the megaMenu fixture
  apps/web/tests/dom/main-nav.test.tsx
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

revert(web): restore site.ts env read, PT-44 broke unit tests
  apps/web/config/site.ts
  apps/web/lib/env.ts
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

docs(todo): mark orchestration work done with evidence
  docs/TODO.md
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache

docs(todo): repoint links to archived verification docs
  docs/TODO.md
  docs/archive/verification-issues.md
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache

docs(todo): recount summary table from item tags
  docs/TODO.md
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache

docs(todo): record PT-44 recheck
  docs/TODO.md
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache

fix(nav): decode HTML entities in mega menu titles
  apps/web/components/site-header/main-nav.tsx
  apps/web/tests/dom/main-nav.test.tsx
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

fix(a11y): reveal hidden artist credits on keyboard focus
  apps/web/components/song-list/artist-links.tsx
  apps/web/tests/dom/artist-links.test.tsx
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

fix(queue): animate row gap away so removal does not snap
  apps/web/components/queue.tsx
  apps/web/tests/dom/queue-sheet.test.tsx
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .
