Repository rajput-hemant/infinitunes: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

fix: `eslint-plugin-react-compiler` not found
  bun.lockb
  package.json
Due: none

chore: update dependencies and configuration files
  .env.example
  .husky/commit-msg
  .husky/pre-commit
  .prettierrc
  dockerfile
  next.config.mjs
  package.json
  public/apple-icon.png
  public/favicon-16x16.png
  public/favicon-32x32.png
  public/favicon.ico
Due: none

feat: add song(s) download functionality
  package.json
  src/app/(root)/settings/_components/preference-settings.tsx
  src/app/layout.tsx
  src/components/details-header/details-header.tsx
  src/components/download-button.tsx
  src/components/like-button.tsx
  src/components/player.tsx
  src/components/song-list/song-list.client.tsx
  src/components/song-list/song-list.tsx
  src/hooks/use-event-listner.ts
  src/hooks/use-intersection-observer.ts
  src/lib/utils.ts
  src/types/globals.g.ts
  src/types/misc.ts
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

chore: update drizzle migration metadata
  package.json
  src/lib/db/migrations/meta/0000_snapshot.json
  src/lib/db/migrations/meta/0001_snapshot.json
  src/lib/db/migrations/meta/0002_snapshot.json
  src/lib/db/migrations/meta/0003_snapshot.json
  src/lib/db/migrations/meta/0004_snapshot.json
  src/lib/db/migrations/meta/0005_snapshot.json
  src/lib/jiosaavn-api.ts
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

fix: alter user row type to uuid in accounts table
  src/lib/db/migrations/0006_simple_squadron_sinister.sql
  src/lib/db/migrations/meta/0006_snapshot.json
  src/lib/db/migrations/meta/_journal.json
  src/lib/db/schema.ts
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

chore(deps): update all non-major dependencies
  bun.lockb
  package.json
Due: none

style: update details-header, song-list skeleton
  bun.lockb
  package.json
  src/components/skeletons/details-header-skeleton.tsx
  src/components/skeletons/slider-card-skeleton.tsx
  src/components/skeletons/slider-list-skeleton.tsx
  src/components/skeletons/song-list-skeleton.tsx
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

feat: upgrade to nextjs@v15
  bun.lockb
  next.config.ts
  package.json
  src/app/(root)/album/[name]/[token]/page.tsx
  src/app/(root)/album/page.tsx
  src/app/(root)/artist/[name]/[token]/page.tsx
  src/app/(root)/episode/[name]/[token]/page.tsx
  src/app/(root)/label/[name]/[token]/page.tsx
  src/app/(root)/me/playlist/[id]/page.tsx
  src/app/(root)/mix/[name]/[token]/page.tsx
  src/app/(root)/playlist/[name]/[token]/page.tsx
  src/app/(root)/playlist/page.tsx
  src/app/(root)/radio/page.tsx
  src/app/(root)/search/[type]/[query]/page.tsx
  src/app/(root)/settings/appearance/page.tsx
  src/app/(root)/settings/preferences/page.tsx
  src/app/(root)/show/[name]/[season]/[token]/page.tsx
  src/app/(root)/show/page.tsx
  src/app/(root)/song/[name]/[token]/page.tsx
  src/app/layout.tsx
  src/components/player.tsx
  src/components/site-header/navbar.tsx
  src/hooks/use-intersection-observer.ts
  src/lib/env.ts
  src/lib/jiosaavn-api.ts
  src/middleware.ts
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

fix: song route error, eslint config issue [closes #62]
  .eslintignore
  .vscode/settings.json
  package.json
  src/app/(root)/episode/[name]/[token]/page.tsx
  src/app/(root)/mix/[name]/[token]/page.tsx
  src/app/(root)/show/[name]/[season]/[token]/page.tsx
  src/app/(root)/song/[name]/[token]/page.tsx
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

Improve Slider and song download
  src/components/download-button.tsx
  src/components/player.tsx
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

feat: enhance UI responsiveness and volume control
  src/app/(root)/layout.tsx
  src/app/(root)/page.tsx
  src/components/player.tsx
  src/components/sidebar.tsx
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

chore: update robots.txt to disallow specific AI user agents
  public/robots.txt
Due: none

chore: replace npx with bunx in husky scripts
  .husky/commit-msg
  .husky/pre-commit
Due: none

chore: update robots.txt to disallow additional AI user agents
  public/robots.txt
Due: none

chore: update robots.txt to include additional AI user agents
  public/robots.txt
Due: none

backup: save pre-monorepo tracked delta at 83d0b88
  .eslintcache
  .eslintrc
  .vscode/settings.json
  bun.lockb
  docs/migration-plan.md
  drizzle.config.ts
  eslint.config.js
  next.config.ts
  package.json
  src/proxy.ts
  tsconfig.json
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

fix: update lint-staged eslint command for monorepo layout
  package.json
Due: none

no-mistakes(document): Fix README asset paths and format files after monorepo move
  README.md
  apps/web/drizzle.config.ts
  apps/web/next.config.ts
  apps/web/tsconfig.json
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

chore: update delivery infrastructure for Bun monorepo
  .dockerignore
  .github/workflows/ci.yml
  Makefile
  README.md
  docker-compose.yml
  dockerfile
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache

fix: update Zod 4 error configuration in env.ts
  AGENTS.md
  CLAUDE.md
  apps/web/src/lib/env.ts
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

fix(apps/web): resolve Wave 2 web compatibility issues
  apps/web/src/app/api/og/route.tsx
  apps/web/src/components/download-button.tsx
  apps/web/src/components/icons.tsx
  apps/web/src/components/player.tsx
  apps/web/src/components/provider.tsx
  apps/web/src/components/share-options.tsx
  apps/web/src/components/song-list/play-pause-button.tsx
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

fix(server/data): replace revalidateTag with updateTag in actions and queries
  apps/web/src/lib/actions.ts
  apps/web/src/lib/db/queries.ts
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

chore: normalize workspace-wide root files
  .gitignore
  .oxfmtrc.json
  apps/web/.gitignore
  bun.lock
  bun.lockb
  dockerfile
Due: none

fix(apps/web): remove incidental typedRoutes and cacheComponents enablement
  apps/web/next.config.ts
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

fix(bun-monorepo): complete migration-compatibility and delivery reconciliation
  AGENTS.md
  README.md
  apps/web/next.config.ts
  apps/web/package.json
  apps/web/src/app/api/og/route.tsx
  apps/web/tsconfig.json
  bun.lock
  dockerfile
  docs/migration-acceptance.md
  turbo.json
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

feat(typescript-config): add shared TypeScript configs for monorepo packages
  packages/typescript-config/README.md
  packages/typescript-config/base.json
  packages/typescript-config/nextjs.json
  packages/typescript-config/package.json
  packages/typescript-config/react-library.json
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache

feat(packages/db): create @infinitunes/db package with Better Auth data foundation
  packages/db/package.json
  packages/db/src/backfill.ts
  packages/db/src/client.ts
  packages/db/src/drizzle.config.ts
  packages/db/src/migrations/0000_fresh_psynapse.sql
  packages/db/src/migrations/0001_flaky_wrecking_crew.sql
  packages/db/src/migrations/0002_unusual_dreaming_celestial.sql
  packages/db/src/migrations/0003_right_snowbird.sql
  packages/db/src/migrations/0004_sweet_spiral.sql
  packages/db/src/migrations/0005_clever_cargill.sql
  packages/db/src/migrations/0006_simple_squadron_sinister.sql
  packages/db/src/migrations/0007_better_auth_foundation.sql
  packages/db/src/migrations/index.ts
  packages/db/src/migrations/meta/0000_snapshot.json
  packages/db/src/migrations/meta/0001_snapshot.json
  packages/db/src/migrations/meta/0002_snapshot.json
  packages/db/src/migrations/meta/0003_snapshot.json
  packages/db/src/migrations/meta/0004_snapshot.json
  packages/db/src/migrations/meta/0005_snapshot.json
  packages/db/src/migrations/meta/0006_snapshot.json
  packages/db/src/migrations/meta/0007_snapshot.json
  packages/db/src/migrations/meta/_journal.json
  packages/db/src/schema.ts
  packages/db/src/table-creator.ts
  packages/db/tests/backfill.test.ts
  packages/db/tests/migrations.test.ts
  packages/db/tests/schema.test.ts
  packages/db/tsconfig.json
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

feat(auth): migrate from Auth.js to Better Auth
  apps/web/src/app/(auth)/_components/auth-mode-toggle.tsx
  apps/web/src/app/(auth)/_components/login-form.tsx
  apps/web/src/app/(auth)/_components/oauth-buttons.tsx
  apps/web/src/app/(auth)/_components/reset-password-form.tsx
  apps/web/src/app/(auth)/_components/signup-form.tsx
  apps/web/src/app/(auth)/layout.tsx
  apps/web/src/app/(root)/artist/[name]/[token]/_components/artists-top-items.tsx
  apps/web/src/app/(root)/me/(layout-a)/_components/logout.tsx
  apps/web/src/app/(root)/settings/_components/profile-form.tsx
  apps/web/src/app/(root)/show/[name]/[season]/[token]/_components/episode-list.tsx
  apps/web/src/app/@modal/auth-modal.tsx
  apps/web/src/app/api/auth/[...all]/route.ts
  apps/web/src/app/api/auth/[...nextauth]/route.ts
  apps/web/src/components/details-header/more-button.tsx
  apps/web/src/components/like-button.tsx
  apps/web/src/components/player.tsx
  apps/web/src/components/playlist/add-to-playlist-dialog.tsx
  apps/web/src/components/playlist/new-playlist-form.tsx
  apps/web/src/components/provider.tsx
  apps/web/src/components/sidebar.tsx
  apps/web/src/components/site-header/mobile-nav.tsx
  apps/web/src/components/song-list/more-button.tsx
  apps/web/src/components/song-list/song-list.client.tsx
  apps/web/src/components/ui/form.tsx
  apps/web/src/components/user-dropdown.tsx
  apps/web/src/config/auth.ts
  apps/web/src/lib/actions.ts
  apps/web/src/lib/auth.ts
  apps/web/src/lib/db/schema.ts
  apps/web/src/lib/env.ts
  apps/web/src/types/next-auth.d.ts
  apps/web/src/types/user.ts
  packages/auth/package.json
  packages/auth/src/auth-client.ts
  packages/auth/src/auth.ts
  packages/auth/src/index.ts
  packages/auth/tests/auth.test.ts
  packages/auth/tsconfig.json
  packages/ui/package.json
  packages/ui/src/components/ui/field.tsx
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

refactor(web): consolidate db consumers onto @infinitunes/db
  apps/web/app/(root)/artist/[name]/[token]/_components/artists-top-items.tsx
  apps/web/app/(root)/me/(layout-a)/_components/playlist-item.tsx
  apps/web/app/(root)/show/[name]/[season]/[token]/_components/episode-list.tsx
  apps/web/app/api/auth/[...all]/route.ts
  apps/web/components/details-header/more-button.tsx
  apps/web/components/details-header/user-playlists.tsx
  apps/web/components/like-button.tsx
  apps/web/components/player.tsx
  apps/web/components/playlist/add-to-playlist-dialog.tsx
  apps/web/components/sidebar.tsx
  apps/web/components/song-list/more-button.tsx
  apps/web/components/song-list/song-list.client.tsx
  apps/web/components/song-list/song-list.tsx
  apps/web/lib/actions.ts
  apps/web/lib/auth.ts
  apps/web/lib/db/index.ts
  apps/web/lib/db/migrate.ts
  apps/web/lib/db/queries.ts
  apps/web/lib/db/schema.ts
  packages/db/package.json
  packages/db/src/db.ts
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

feat(env): add framework-agnostic @infinitunes/env shared package
  apps/web/lib/env.ts
  apps/web/package.json
  bun.lock
  packages/env/package.json
  packages/env/src/client.ts
  packages/env/src/index.ts
  packages/env/src/schema.ts
  packages/env/src/server.ts
  packages/env/tsconfig.json
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

refactor(packages): consume @infinitunes/env/server in auth and db
  bun.lock
  packages/auth/package.json
  packages/auth/src/auth.ts
  packages/db/package.json
  packages/db/src/db.ts
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

fix(app): resolve runtime regressions after migrations
  apps/web/app/api/auth/[...all]/route.ts
  apps/web/components/player.tsx
  apps/web/components/site-header/language-picker.tsx
  apps/web/components/site-header/main-nav.tsx
  apps/web/components/user-dropdown.tsx
  apps/web/lib/actions.ts
  apps/web/lib/auth.ts
  apps/web/lib/db/migrate.ts
  apps/web/lib/db/queries.ts
  apps/web/lib/fonts.ts
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

fix: remove Radix imports, ensure TS and final newline in UI form
  packages/ui/src/components/ui/form.tsx
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

Path conditions:
  prettier --write "**/*.{ts,tsx,mdx}" --cache: any of: *.{ts,tsx,md,mdx}
  eslint --fix .: any of: *.{ts,tsx,mdx}
