Repository rajput-hemant/infinitunes: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

perf(web): add image sizes to fixed-size thumbnails and overlap artist fetch with session lookup
  apps/web/app/(root)/artist/[name]/[token]/page.tsx
  apps/web/components/details-header/more-button.tsx
  apps/web/components/image-collage.tsx
  apps/web/components/player.tsx
  apps/web/components/queue.tsx
  apps/web/components/search/search-all.tsx
  apps/web/components/search/top-search.tsx
  apps/web/components/song-list/more-button.tsx
  apps/web/components/song-list/song-list.client.tsx
  apps/web/components/song-list/song-list.tsx
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

refactor(web): remove unused theme-toggle, user-playlists, checkAuth and currentlyInDev
  apps/web/components/details-header/user-playlists.tsx
  apps/web/components/theme-toggle.tsx
  apps/web/lib/auth.ts
  apps/web/lib/utils.ts
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

chore(deps): drop unused workspace dependencies
  AGENTS.md
  apps/web/package.json
  bun.lock
  packages/auth/package.json
  packages/db/package.json
  packages/trpc/package.json
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache

fix(web): improve landmarks, heading order, control states and shortcut guards for accessibility
  AGENTS.md
  apps/web/app/(auth)/layout.tsx
  apps/web/app/(root)/search/_components/mobile-search.tsx
  apps/web/app/(root)/settings/_components/appearance-settings.tsx
  apps/web/app/(root)/settings/_components/passkey-settings.tsx
  apps/web/app/(root)/settings/_components/preference-settings.tsx
  apps/web/app/(root)/settings/_components/profile-form.tsx
  apps/web/app/(root)/settings/_components/side-navbar.tsx
  apps/web/components/details-header/details-header.tsx
  apps/web/components/like-button.tsx
  apps/web/components/player.tsx
  apps/web/components/queue.tsx
  apps/web/components/search/search-menu.tsx
  apps/web/components/sidebar.tsx
  apps/web/components/site-header/language-picker.tsx
  apps/web/components/site-header/main-nav.tsx
  apps/web/components/site-header/mobile-nav.tsx
  apps/web/components/site-header/secondary-navbar.tsx
  apps/web/components/slider/slider-card.tsx
  apps/web/lib/keyboard.ts
  apps/web/tests/keyboard-shortcuts.test.ts
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

fix(web): allowlist image hosts in OG route to close SSRF
  apps/web/app/api/og/route.tsx
  apps/web/lib/image-hosts.ts
  apps/web/next.config.ts
  apps/web/tests/og-image-allowlist.test.ts
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

fix(web): restrict login callbackUrl to same-origin paths
  apps/web/app/(auth)/_components/login-form.tsx
  apps/web/lib/utils.ts
  apps/web/tests/login-redirect.test.ts
  apps/web/tests/utils.test.ts
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

fix(trpc): scope playlist writes by owner and bound updateUser name
  packages/trpc/src/router/user.ts
  packages/trpc/tests/user-router.test.ts
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

fix(web): use semantic output and section elements for live and region roles
  apps/web/app/(root)/search/_components/mobile-search.tsx
  apps/web/components/player.tsx
  apps/web/components/search/search-menu.tsx
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

fix(types): make duration format total and add queue/shuffle helpers
  apps/web/components/queue.tsx
  packages/types/src/media.ts
  packages/types/tests/media.test.ts
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

fix(web): stop player restarting on queue changes and fix shortcuts
  apps/web/components/player.tsx
  apps/web/lib/utils.ts
  apps/web/tests/player-playback.test.ts
  apps/web/tests/utils.test.ts
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

fix(trpc): bypass the response cache for radio song batches
  packages/trpc/src/lib/api.ts
  packages/trpc/src/router/radio.ts
  packages/trpc/tests/radio-router.test.ts
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

fix(web): show language picker on mobile and center error states
  apps/web/app/(root)/error.tsx
  apps/web/app/error.tsx
  apps/web/components/site-header/language-picker.tsx
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

docs: reorganize TODO into an area-based task index with findings and proposals
  docs/TODO.md
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache

fix(web): polish playlist cards, error pages, auth modal and search empty state
  apps/web/app/(root)/error.tsx
  apps/web/app/(root)/me/(layout-a)/_components/playlist-item.tsx
  apps/web/app/(root)/me/(layout-a)/error.tsx
  apps/web/app/(root)/search/[type]/[query]/_components/search-results.tsx
  apps/web/app/@modal/auth-modal.tsx
  apps/web/app/error.tsx
  apps/web/components/error-illustration.tsx
  apps/web/components/library/library-section.tsx
  apps/web/tests/auth-modal-footer.test.ts
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

refactor(web): reuse shared fixture loader and loopback guard in instrumentation
  apps/web/instrumentation.ts
  packages/db/package.json
  packages/db/src/fixtures/local-guard.ts
  packages/db/tests/fixtures.test.ts
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

build(deps): declare web trpc and superjson deps, add ui tailwindcss, drop drizzle
  .bun-version
  apps/web/package.json
  bun.lock
  package.json
  packages/ui/package.json
Due: none

fix(trpc): cap favorite token and playlist song batch sizes
  packages/trpc/src/router/user.ts
  packages/trpc/tests/user-router.test.ts
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

docs: mark currentlyInDev stub notes as historical
  .agents/skills/verify/SKILL.md
  .agents/skills/verify/features/account-settings.md
  docs/verification/verification-issues.md
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache

fix(web): degrade shell gracefully and polish navbar, footer and toasts
  apps/web/components/loading-spinner.tsx
  apps/web/components/provider.tsx
  apps/web/components/sidebar.tsx
  apps/web/components/site-footer/footer.tsx
  apps/web/components/site-header/language-picker.tsx
  apps/web/components/site-header/navbar.tsx
  apps/web/lib/shell-data.ts
  apps/web/styles/globals.css
  apps/web/tests/language-picker-menu.test.ts
  apps/web/tests/shell-data.test.ts
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

fix(web): player a11y, explicit show season, safe toast copy, per-card playlist cover fallback
  apps/web/app/(root)/me/(layout-a)/_components/playlist-item.tsx
  apps/web/components/details-header/details-header.tsx
  apps/web/components/details-header/more-button.tsx
  apps/web/components/play-button.tsx
  apps/web/components/player.tsx
  apps/web/components/playlist/playlist-manage-menu.tsx
  apps/web/components/playlist/rename-playlist-dialog.tsx
  apps/web/components/queue.tsx
  apps/web/components/song-list/more-button.tsx
  apps/web/lib/user-message.ts
  apps/web/tests/player-a11y.test.ts
  apps/web/tests/user-message.test.ts
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

docs: update TODO index for wave 3 results
  docs/TODO.md
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache

feat(history): store recently played per account
  apps/web/app/(root)/me/(layout-a)/recently-played/loading.tsx
  apps/web/app/(root)/me/(layout-a)/recently-played/page.tsx
  apps/web/lib/history-actions.ts
  packages/db/src/migrations/0004_recently_played.sql
  packages/db/src/migrations/meta/0004_snapshot.json
  packages/db/src/migrations/meta/_journal.json
  packages/db/src/schema.ts
  packages/db/tests/schema.test.ts
  packages/trpc/src/root.ts
  packages/trpc/src/router/history.ts
  packages/trpc/src/router/index.ts
  packages/trpc/tests/history-router.test.ts
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

feat(edge): require trpc Origin, add report-only CSP, signup redirect, drop Docker prod
  .dockerignore
  AGENTS.md
  apps/web/app/(auth)/_components/signup-form.tsx
  apps/web/lib/csp.ts
  apps/web/lib/image-hosts.ts
  apps/web/next.config.ts
  apps/web/proxy.ts
  apps/web/tests/csp.test.ts
  apps/web/tests/proxy.test.ts
  apps/web/tests/signup-redirect.test.ts
  docs/plans/migration-plan.md
  packages/env/src/schema.ts
  packages/env/tests/env.test.ts
  turbo.json
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

fix(web): keep images unoptimized after dropping Docker plumbing
  apps/web/next.config.ts
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

fix(account): password-gate password/email/delete, cap playlists at 5,000
  apps/web/app/(auth)/_components/reset-password-form.tsx
  apps/web/app/(root)/settings/_components/profile-form.tsx
  apps/web/lib/actions.ts
  apps/web/tests/security.test.ts
  packages/auth/src/schemas.ts
  packages/auth/tests/schemas.test.ts
  packages/trpc/src/router/user.ts
  packages/trpc/src/trpc.ts
  packages/trpc/tests/user-router.test.ts
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

feat(player): mobile expanded player, unique queue entries, shortcuts setting, record plays
  apps/web/app/(root)/settings/_components/preference-settings.tsx
  apps/web/components/expanded-player.tsx
  apps/web/components/player.tsx
  apps/web/components/queue.tsx
  apps/web/components/song-list/more-button.tsx
  apps/web/components/song-list/play-pause-button.tsx
  apps/web/hooks/use-store.ts
  apps/web/lib/keyboard.ts
  apps/web/tests/keyboard-shortcuts.test.ts
  apps/web/tests/player-a11y.test.ts
  apps/web/tests/player-playback.test.ts
  packages/types/src/media.ts
  packages/types/src/misc.ts
  packages/types/tests/media.test.ts
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

feat(trpc): retry transient upstream failures and cache public catalog fetches
  apps/web/tests/login-redirect.test.ts
  apps/web/tests/queue-sheet.test.ts
  apps/web/tests/slider-decode.test.ts
  packages/trpc/src/lib/api.ts
  packages/trpc/tests/api-retry.test.ts
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

build: share duplicated dependency ranges via Bun catalogs
  apps/web/package.json
  bun.lock
  package.json
  packages/auth/package.json
  packages/db/package.json
  packages/env/package.json
  packages/trpc/package.json
  packages/types/package.json
  packages/ui/package.json
Due: none

test(web): replace brittle source-string tests with rendered behavior tests
  apps/web/tests/dom/bunfig.toml
  apps/web/tests/dom/favorite-state.test.tsx
  apps/web/tests/dom/login-redirect.test.tsx
  apps/web/tests/dom/preload.ts
  apps/web/tests/dom/queue-sheet.test.tsx
  apps/web/tests/playerbar-favorite-state.test.ts
  apps/web/tests/slider-decode.test.tsx
  bunfig.toml
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

ci: run DOM tests through bun run test
  .github/workflows/ci.yml
Due: none

fix(web): keep console.error in production and test sign-up redirect through the rendered form
  apps/web/next.config.ts
  apps/web/tests/dom/signup-redirect.test.tsx
  apps/web/tests/signup-redirect.test.ts
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

fix(trpc): do not cache radio station sessions; stamp playedAt with database clock
  packages/trpc/src/router/history.ts
  packages/trpc/src/router/radio.ts
  packages/trpc/tests/history-router.test.ts
  packages/trpc/tests/radio-router.test.ts
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

fix(web): single main landmark and labelled profile form fields
  apps/web/app/(root)/layout.tsx
  apps/web/app/(root)/me/(layout-a)/layout.tsx
  apps/web/app/(root)/search/[type]/[query]/loading.tsx
  apps/web/app/(root)/search/[type]/[query]/page.tsx
  apps/web/app/(root)/settings/_components/profile-form.tsx
  apps/web/tests/dom/profile-form.test.tsx
  apps/web/tests/mobile-shell.test.ts
  apps/web/tests/sidebar-inset-layout.test.ts
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

docs: final TODO index update for waves 4-5, round 2 and captain decisions
  docs/TODO.md
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache

fix(auth): resolve public URL from AUTH_URL, production domain, then preview host
  apps/web/lib/env.ts
  apps/web/proxy.ts
  apps/web/tests/proxy.test.ts
  packages/auth/src/auth.ts
  packages/auth/tests/auth.test.ts
  packages/env/src/index.ts
  packages/env/src/schema.ts
  packages/env/tests/env.test.ts
  turbo.json
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

fix(player): mark only the playing queue entry as current when tracks repeat
  apps/web/components/play-button.tsx
  apps/web/components/queue.tsx
  apps/web/components/song-list/play-pause-button.tsx
  apps/web/lib/queue-position.ts
  apps/web/tests/queue-position.test.ts
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

feat(web): language picker as Popover and keyboard shortcuts as Switch
  apps/web/app/(root)/settings/_components/preference-settings.tsx
  apps/web/components/site-header/language-picker.tsx
  apps/web/tests/dom/language-picker.test.tsx
  apps/web/tests/dom/preference-settings.test.tsx
  apps/web/tests/language-picker-menu.test.ts
  packages/ui/src/components/ui/popover.tsx
  packages/ui/src/components/ui/switch.tsx
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

feat(auth): emailed forgot-password flow and fresh-session checks
  .env.example
  README.md
  apps/web/app/(auth)/_components/forgot-password-form.tsx
  apps/web/app/(auth)/_components/login-form.tsx
  apps/web/app/(auth)/_components/oauth-placement.test.ts
  apps/web/app/(auth)/_components/reset-password-form.tsx
  apps/web/app/(auth)/forgot-password/page.tsx
  apps/web/app/(auth)/reset-password/page.tsx
  apps/web/app/(root)/settings/_components/profile-form.tsx
  apps/web/app/@modal/(.)forgot-password/page.tsx
  apps/web/app/@modal/(.)reset-password/page.tsx
  apps/web/config/routes.ts
  apps/web/lib/actions.ts
  apps/web/lib/auth.ts
  apps/web/tests/dom/forgot-password.test.tsx
  apps/web/tests/dom/reset-password.test.tsx
  packages/auth/src/auth.ts
  packages/auth/src/emails.ts
  packages/auth/src/index.ts
  packages/auth/src/mail.ts
  packages/auth/src/schemas.ts
  packages/auth/tests/auth.test.ts
  packages/auth/tests/mail.test.ts
  packages/auth/tests/schemas.test.ts
  packages/env/src/schema.ts
  packages/trpc/src/router/user.ts
  packages/trpc/src/trpc.ts
  packages/trpc/tests/user-router.test.ts
  turbo.json
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

feat(web): list episodes on the Recently Played page
  apps/web/app/(root)/me/(layout-a)/recently-played/page.tsx
  apps/web/lib/liked-songs.ts
  apps/web/tests/liked-songs.test.ts
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

Path conditions:
  prettier --write "**/*.{ts,tsx,mdx}" --cache: any of: *.{ts,tsx,md,mdx}
  eslint --fix .: any of: *.{ts,tsx,mdx}
