Repository rajput-hemant/infinitunes: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

feat(radio): implement JioSaavn web radio sessions and endless queue playback
  .agents/skills/verify/features/radio.md
  apps/web/app/(root)/radio/[name]/[token]/page.tsx
  apps/web/components/details-header/more-button.tsx
  apps/web/components/play-button.tsx
  apps/web/components/player.tsx
  apps/web/components/slider/slider-card.tsx
  apps/web/components/song-list/more-button.tsx
  apps/web/hooks/use-store.ts
  docs/checks/radio-research.md
  docs/checks/verification-issues.md
  packages/trpc/src/lib/endpoints.ts
  packages/trpc/src/lib/inputs.ts
  packages/trpc/src/root.ts
  packages/trpc/src/router/index.ts
  packages/trpc/src/router/radio.ts
  packages/trpc/tests/radio-router.test.ts
  packages/types/src/get.ts
  packages/types/src/index.ts
  packages/types/src/radio.ts
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

docs(verify): live browser proof for radio and auth-email features
  .agents/skills/verify/SKILL.md
  .agents/skills/verify/features/auth-email.md
  .agents/skills/verify/features/radio.md
  docs/checks/verification-issues.md
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache

fix(radio,auth): resolve artist header Play Radio and login redirect
  .agents/skills/verify/features/auth-email.md
  .agents/skills/verify/features/radio.md
  apps/web/app/(auth)/_components/login-form.tsx
  apps/web/components/details-header/details-header.tsx
  apps/web/components/details-header/more-button.tsx
  apps/web/tests/details-header-radio.test.ts
  apps/web/tests/login-redirect.test.ts
  docs/checks/verification-issues.md
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

fix(auth,ui): unify reset-password errors, validate email update, wire song favourite
  AGENTS.md
  apps/web/app/(root)/settings/_components/profile-form.tsx
  apps/web/components/sidebar.tsx
  apps/web/components/song-list/more-button.tsx
  apps/web/components/song-list/song-list.client.tsx
  apps/web/components/song-list/song-list.tsx
  docs/TODO.md
  docs/checks/verification-issues.md
  packages/trpc/src/router/user.ts
  packages/trpc/tests/user-router.test.ts
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

chore(web): drop formatting-only churn from sidebar edit
  apps/web/components/sidebar.tsx
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

feat(web): refresh library and player UI
  apps/web/app/(root)/me/(layout-a)/_components/navbar.tsx
  apps/web/app/(root)/me/(layout-a)/albums/page.tsx
  apps/web/app/(root)/me/(layout-a)/artists/page.tsx
  apps/web/app/(root)/me/(layout-a)/error.tsx
  apps/web/app/(root)/me/(layout-a)/layout.tsx
  apps/web/app/(root)/me/(layout-a)/liked-songs/page.tsx
  apps/web/app/(root)/me/(layout-a)/page.tsx
  apps/web/app/(root)/me/(layout-a)/playlists/page.tsx
  apps/web/app/(root)/me/(layout-a)/recently-played/page.tsx
  apps/web/app/(root)/me/(layout-a)/shows/page.tsx
  apps/web/components/library/library-section.tsx
  apps/web/components/library/play-all-button.tsx
  apps/web/components/library/retry-button.tsx
  apps/web/components/player.tsx
  docs/TODO.md
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

docs: record library review follow-ups in TODO
  docs/TODO.md
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache

fix(player,ui): wire playerbar favorite state and optimistic TileMoreButton label
  apps/web/app/(root)/layout.tsx
  apps/web/components/player-wrapper.tsx
  apps/web/components/player.tsx
  apps/web/components/song-list/more-button.tsx
  apps/web/tests/playerbar-favorite-state.test.ts
  docs/TODO.md
  docs/checks/verification-issues.md
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

feat(db,infra): implement shared local development setup and canonical fixtures
  .env.example
  Makefile
  README.md
  bun.lock
  compatibility.md
  config/local-dev-fixture.json
  docker-compose.yml
  docker/bootstrap/01-init.sql
  dockerfile
  docs/compatibility.md
  docs/local-development.md
  local-dev/fixtures.json
  package.json
  packages/db/fixtures/local-dev-fixture.json
  packages/db/package.json
  packages/db/src/fixtures/index.ts
  packages/db/src/fixtures/local-dev-user.ts
  packages/db/src/reset.ts
  packages/db/src/seed.ts
  packages/db/tests/fixtures.test.ts
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

feat(infra): coordinate self-contained local-platforms compose for independent multi-project startup
  docker-compose.yml
  docs/compatibility.md
  docs/local-development.md
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache

chore(local-dev): pin images, inline bootstrap config, bun --bun for next scripts, AMA persona
  apps/web/package.json
  config/local-dev-fixture.json
  docker-compose.yml
  docker/bootstrap/01-init.sql
  docs/compatibility.md
  docs/local-development.md
  local-dev/fixtures.json
  packages/db/fixtures/local-dev-fixture.json
  packages/db/src/fixtures/local-dev-user.ts
  packages/db/tests/fixtures.test.ts
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

fix(local-dev): remove db:reset, guard seed to loopback, fail-closed fixture, SRH env mode
  .env.example
  README.md
  docker-compose.yml
  docs/compatibility.md
  docs/local-development.md
  package.json
  packages/db/package.json
  packages/db/src/fixtures/local-dev-user.ts
  packages/db/src/fixtures/local-guard.ts
  packages/db/src/reset.ts
  packages/db/src/seed.ts
  packages/db/tests/fixtures.test.ts
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

chore(local-dev): standalone email-only fixture, keys-only env example, short setup doc
  .env.example
  README.md
  docs/compatibility.md
  docs/local-development.md
  docs/project.md
  local-dev/fixtures.json
  packages/db/src/fixtures/local-dev-user.ts
  packages/db/src/schema.ts
  packages/db/src/seed.ts
  packages/db/tests/fixtures.test.ts
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

fix(db): migrate against a database where shared auth tables already exist
  docs/TODO.md
  packages/db/src/migrate.ts
  packages/db/src/schema.ts
  packages/db/tests/schema.test.ts
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

fix(db): require DATABASE_URL for seed
  packages/db/src/seed.ts
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

chore(vercel): auto-deploy only main and master from Git
  vercel.json
Due: none

docs: record shadcn source modification audit
  docs/TODO.md
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache

docs: consolidate open work audit into TODO and verification ledger
  docs/TODO.md
  docs/checks/verification-issues.md
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache

feat(web): collapse sidebar to an icon rail
  apps/web/app/(root)/layout.tsx
  apps/web/components/sidebar.tsx
  apps/web/components/site-header/navbar.tsx
  apps/web/tests/root-shell-layout.test.ts
  docs/TODO.md
  docs/checks/evidence/sidebar-collapse/desktop-collapsed-light-tooltip.png
  docs/checks/evidence/sidebar-collapse/desktop-collapsed-light.png
  docs/checks/evidence/sidebar-collapse/desktop-collapsed-tooltip.png
  docs/checks/evidence/sidebar-collapse/desktop-expanded-light.png
  docs/checks/evidence/sidebar-collapse/desktop-trigger-focus.png
  docs/checks/evidence/sidebar-collapse/mobile-390.png
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

feat: log local dev credentials on server startup
  apps/web/app/(root)/me/playlist/[id]/page.tsx
  apps/web/app/(root)/settings/page.tsx
  apps/web/instrumentation.ts
  apps/web/lib/actions.ts
  apps/web/tests/proxy.test.ts
  apps/web/tests/search-menu-dialog.test.ts
  apps/web/tests/slider-card.test.ts
  apps/web/tests/song-list-decode.test.ts
  apps/web/tests/user-dropdown-menu.test.ts
  packages/auth/src/auth.ts
  packages/db/src/fixtures/local-dev-user.ts
  packages/db/src/seed.ts
  packages/db/tests/fixtures.test.ts
  packages/trpc/tests/favorites-concurrency.test.ts
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

chore(claude): load personal skills from the agent-skills plugin marketplace
  .claude/settings.json
Due: none

fix(web): label player sliders and empty-state More button
  apps/web/components/player.tsx
  apps/web/tests/playerbar-favorite-state.test.ts
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

fix(auth): normalize email in password reset and cover with tests
  packages/auth/src/schemas.ts
  packages/auth/tests/schemas.test.ts
  packages/trpc/tests/user-router.test.ts
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

chore(web): reduce oxlint warnings and use Tooltip for collapsed Create Playlist
  apps/web/app/layout.tsx
  apps/web/components/details-header/more-button.tsx
  apps/web/components/like-button.tsx
  apps/web/components/play-button.tsx
  apps/web/components/sidebar.tsx
  apps/web/lib/trpc/server.ts
  packages/trpc/src/index.ts
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

fix(web): normalize /playlist route, song not-found, chunk liked songs
  apps/web/app/(root)/me/(layout-a)/liked-songs/page.tsx
  apps/web/app/(root)/song/[name]/[token]/page.tsx
  apps/web/config/routes.ts
  apps/web/lib/liked-songs.ts
  apps/web/tests/liked-songs.test.ts
  apps/web/tests/proxy.test.ts
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

docs: record 2026-10-03 orchestrated fixes and blockers in TODO
  .claude/settings.json
  docs/TODO.md
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache

chore(claude): remove the agent-skills plugin marketplace settings
  .claude/settings.json
Due: none

docs: remove binary evidence and broken compatibility symlink, add ignore
  .agents/skills/verify/SKILL.md
  .agents/skills/verify/features/README.md
  .agents/skills/verify/features/access-control.md
  .agents/skills/verify/features/account-settings.md
  .agents/skills/verify/features/auth-email.md
  .agents/skills/verify/features/auth-oauth.md
  .agents/skills/verify/features/auth-passkey.md
  .agents/skills/verify/features/browse-and-entities.md
  .agents/skills/verify/features/favorites.md
  .agents/skills/verify/features/library.md
  .agents/skills/verify/features/player-queue.md
  .agents/skills/verify/features/playlists.md
  .agents/skills/verify/features/preferences.md
  .agents/skills/verify/features/radio.md
  .agents/skills/verify/features/search.md
  .agents/skills/verify/features/ui-quality.md
  .gitignore
  compatibility.md
  docs/TODO.md
  docs/checks/evidence/sidebar-collapse/desktop-collapsed-light-tooltip.png
  docs/checks/evidence/sidebar-collapse/desktop-collapsed-light.png
  docs/checks/evidence/sidebar-collapse/desktop-collapsed-tooltip.png
  docs/checks/evidence/sidebar-collapse/desktop-expanded-light.png
  docs/checks/evidence/sidebar-collapse/desktop-trigger-focus.png
  docs/checks/evidence/sidebar-collapse/mobile-390.png
  docs/migration-baseline.md
  docs/migration-plan.md
  docs/plans/migration-plan.md
  docs/reference/migration-baseline.md
  docs/reference/project.md
  docs/research/radio-research.md
  docs/verification/migration-acceptance.md
  docs/verification/verification-issues.md
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache

docs: fix relative links in verification-issues.md
  docs/verification/verification-issues.md
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache

docs: sync radio, acceptance, ledger header and env table with source
  .agents/skills/verify/features/README.md
  .agents/skills/verify/features/player-queue.md
  .agents/skills/verify/features/radio.md
  README.md
  docs/checks/verification-issues.md
  docs/migration-plan.md
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache

fix(db): keep legacy username columns declared to avoid destructive drop
  packages/db/src/schema.ts
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

fix(web): remove in-development stubs for episode playback and unsupported likes
  apps/web/components/like-button.tsx
  apps/web/components/song-list/more-button.tsx
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

fix(web): decode HTML entities in slider cards and search results
  apps/web/components/search/search-all.tsx
  apps/web/components/search/top-search.tsx
  apps/web/components/slider/slider-card.tsx
  apps/web/tests/slider-decode.test.ts
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

docs: reopen migration-plan items without current evidence
  docs/migration-plan.md
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache

fix(web): app shell safe-area, player touch targets, a11y and reduced motion
  apps/web/app/(root)/layout.tsx
  apps/web/components/language-bar.tsx
  apps/web/components/player.tsx
  apps/web/components/queue.tsx
  apps/web/components/sidebar.tsx
  apps/web/components/site-footer/footer.tsx
  apps/web/components/site-header/mobile-nav.tsx
  apps/web/components/theme-toggle.tsx
  apps/web/styles/globals.css
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

fix(web): polish library, playlist and settings UI
  apps/web/app/(root)/error.tsx
  apps/web/app/(root)/me/(layout-a)/_components/navbar.tsx
  apps/web/app/(root)/me/(layout-a)/_components/playlist-item.tsx
  apps/web/app/(root)/me/(layout-a)/albums/page.tsx
  apps/web/app/(root)/me/(layout-a)/artists/page.tsx
  apps/web/app/(root)/me/(layout-a)/error.tsx
  apps/web/app/(root)/me/(layout-a)/liked-songs/page.tsx
  apps/web/app/(root)/me/(layout-a)/playlists/page.tsx
  apps/web/app/(root)/me/(layout-a)/shows/page.tsx
  apps/web/app/(root)/me/playlist/[id]/page.tsx
  apps/web/app/(root)/settings/_components/appearance-settings.tsx
  apps/web/app/(root)/settings/_components/passkey-settings.tsx
  apps/web/app/(root)/settings/_components/preference-settings.tsx
  apps/web/app/(root)/settings/_components/profile-form.tsx
  apps/web/app/(root)/settings/_components/side-navbar.tsx
  apps/web/app/(root)/settings/appearance/page.tsx
  apps/web/app/(root)/settings/page.tsx
  apps/web/app/(root)/settings/preferences/page.tsx
  apps/web/app/error.tsx
  apps/web/components/library/library-section.tsx
  apps/web/components/playlist/add-to-playlist-dialog.tsx
  apps/web/components/playlist/new-playlist-form.tsx
  apps/web/components/playlist/playlist-manage-menu.tsx
  apps/web/components/playlist/rename-playlist-dialog.tsx
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

fix(web): improve browse accessibility, skeleton parity and image fallbacks
  apps/web/app/(root)/album/_components/top-albums.tsx
  apps/web/app/(root)/artist/[name]/[token]/_components/artists-top-items.tsx
  apps/web/app/(root)/artist/page.tsx
  apps/web/app/(root)/chart/page.tsx
  apps/web/app/(root)/loading.tsx
  apps/web/app/(root)/page.tsx
  apps/web/app/(root)/playlist/_components/featured-playlists.tsx
  apps/web/app/(root)/radio/[name]/[token]/page.tsx
  apps/web/app/(root)/radio/_components/featured-stations.tsx
  apps/web/app/(root)/search/[type]/[query]/_components/search-results.tsx
  apps/web/app/(root)/show/[name]/[season]/[token]/_components/episode-list.tsx
  apps/web/app/(root)/show/[name]/[season]/[token]/page.tsx
  apps/web/app/(root)/show/_components/top-podcasts.tsx
  apps/web/components/details-header/details-header.tsx
  apps/web/components/download-button.tsx
  apps/web/components/like-button.tsx
  apps/web/components/placeholder-src.ts
  apps/web/components/play-button.tsx
  apps/web/components/search/search-all.tsx
  apps/web/components/search/search-menu.tsx
  apps/web/components/search/top-search.tsx
  apps/web/components/skeletons/slider-card-skeleton.tsx
  apps/web/components/slider/slider-card.tsx
  apps/web/components/song-list/more-button.tsx
  apps/web/components/song-list/play-pause-button.tsx
  apps/web/components/song-list/song-list.client.tsx
  apps/web/components/song-list/song-list.tsx
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

fix(web): improve auth forms, modal, 404 and user menu accessibility and responsiveness
  apps/web/app/(auth)/_components/auth-mode-toggle.tsx
  apps/web/app/(auth)/_components/email-field.tsx
  apps/web/app/(auth)/_components/login-form.tsx
  apps/web/app/(auth)/_components/oauth-buttons.tsx
  apps/web/app/(auth)/_components/password-field.tsx
  apps/web/app/(auth)/_components/reset-password-form.tsx
  apps/web/app/(auth)/_components/signup-form.tsx
  apps/web/app/(auth)/layout.tsx
  apps/web/app/@modal/auth-modal.tsx
  apps/web/app/not-found.tsx
  apps/web/components/user-dropdown.tsx
  apps/web/tests/auth-form-sizes.test.ts
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

fix(web): render not-found for missing album/artist/playlist/show/episode/label/mix
  AGENTS.md
  apps/web/app/(root)/album/[name]/[token]/page.tsx
  apps/web/app/(root)/artist/[name]/[token]/page.tsx
  apps/web/app/(root)/episode/[name]/[token]/page.tsx
  apps/web/app/(root)/label/[name]/[token]/page.tsx
  apps/web/app/(root)/mix/[name]/[token]/page.tsx
  apps/web/app/(root)/playlist/[name]/[token]/page.tsx
  apps/web/app/(root)/show/[name]/[season]/[token]/page.tsx
  apps/web/app/(root)/song/[name]/[token]/page.tsx
  apps/web/lib/not-found.ts
  apps/web/tests/not-found.test.ts
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

test: make assertLocalDatabase test hermetic and cover proxy origin check
  AGENTS.md
  apps/web/tests/proxy.test.ts
  packages/db/tests/fixtures.test.ts
  packages/trpc/tests/map-download-urls.test.ts
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

Path conditions:
  prettier --write "**/*.{ts,tsx,mdx}" --cache: any of: *.{ts,tsx,md,mdx}
  eslint --fix .: any of: *.{ts,tsx,mdx}
