Repository rajput-hemant/infinitunes: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

.lintstagedrc:

{
  "*.{ts,tsx,md,mdx}": ["prettier --write \"**/*.{ts,tsx,mdx}\" --cache"],
  "*.{ts,tsx,mdx}": ["eslint --fix ."]
}

feat(web): real share intents for share menu entries (OBS-2)
  apps/web/components/share-options.tsx
  apps/web/lib/share.test.ts
  apps/web/lib/share.ts
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

fix(web): like transition, download NaN progress, signup error mapping (OBS-8)
  apps/web/app/(auth)/_components/signup-form.tsx
  apps/web/components/download-button.tsx
  apps/web/components/like-button.tsx
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

refactor(web): radio empty state uses LibraryEmpty (UI-25)
  apps/web/app/(root)/radio/[name]/[token]/page.tsx
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

fix(web): serve the OG default image from public instead of graph.org
  apps/web/app/api/og/route.tsx
  apps/web/tests/og-image-allowlist.test.ts
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

chore(web): drop unused per-app oxfmt, oxlint and sharp devDependencies
  apps/web/package.json
  bun.lock
Due: none

test: add DOM tests for mobile nav and sidebar toggle
  apps/web/components/player.tsx
  apps/web/lib/queue-position.ts
  apps/web/tests/dom/sidebar-shell.test.tsx
  apps/web/tests/mobile-shell.test.ts
  apps/web/tests/player-playback.test.ts
  apps/web/tests/queue-position.test.ts
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

fix(web): nonce the Umami script and document CSP enforcement prerequisites
  apps/web/app/layout.tsx
  apps/web/lib/csp.ts
  apps/web/tests/csp.test.ts
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

fix(auth): let signed-in users open an emailed reset link
  apps/web/app/(auth)/forgot-password/page.tsx
  apps/web/app/(auth)/layout.tsx
  apps/web/app/(auth)/login/page.tsx
  apps/web/app/(auth)/reset-password/page.tsx
  apps/web/app/(auth)/signup/page.tsx
  apps/web/lib/auth-guard.ts
  apps/web/postcss.config.js
  apps/web/styles/globals.css
  apps/web/styles/themes.css
  apps/web/tests/auth-guard.test.ts
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

test(web): isolate history and auth-guard tests from process-wide mocks
  apps/web/tests/dom/auth-guard.test.ts
  apps/web/tests/history-actions.test.ts
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

fix(web): like-button type narrowing and moved security test import
  apps/web/components/like-button.tsx
  apps/web/tests/mocked/security.test.ts
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

fix(web): drop dead graph.org OG images so pages use the local default
  apps/web/app/(root)/album/page.tsx
  apps/web/app/(root)/artist/page.tsx
  apps/web/app/(root)/chart/page.tsx
  apps/web/app/(root)/page.tsx
  apps/web/app/(root)/playlist/page.tsx
  apps/web/app/(root)/radio/page.tsx
  apps/web/app/(root)/show/page.tsx
  apps/web/lib/metadata.ts
  apps/web/lib/utils.ts
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

docs: record wave 7 outcomes in TODO
  docs/TODO.md
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache

fix(web): keep local uncoded-error and test coverage alongside merged action results
  apps/web/app/(root)/radio/[name]/[token]/page.tsx
  apps/web/components/queue.tsx
  apps/web/lib/action-result.ts
  apps/web/tests/mocked/record-play.test.ts
  apps/web/tests/mocked/security.test.ts
  apps/web/tests/user-message.test.ts
  bunfig.toml
  package.json
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

test: run each mock.module and DOM test file in its own process
  apps/web/tests/dom/preload.ts
  apps/web/tests/mocked/proxy.test.ts
  bunfig.toml
  package.json
  scripts/test-isolated.ts
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

docs(verify): point skill commands at the moved mocked tests
  .agents/skills/verify/SKILL.md
  .agents/skills/verify/features/access-control.md
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache

docs: record tests wave 1 outcomes for TC-6, TC-8, TC-10 and DV-9
  docs/TODO.md
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache

test(trpc): retain rollback coverage
  docs/TODO.md
  packages/trpc/tests/history-router.test.ts
  packages/trpc/tests/user-router.test.ts
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

fix(web): send generic copy for uncoded action errors
  apps/web/lib/action-result.ts
  apps/web/lib/user-message.ts
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

test: cover Enter and Space on the sidebar trigger
  apps/web/tests/dom/sidebar-shell.test.tsx
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

docs: record tests wave 2 outcomes
  docs/TODO.md
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache

fix(PQ-1): correct artist pagination page params
  apps/web/app/(root)/artist/[name]/[token]/_components/artists-top-items.tsx
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

docs(PQ-1/PF-7/DP-9): record wave 2 evidence in TODO
  docs/TODO.md
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache

fix(web): load and record repeated adjacent queue entries
  apps/web/components/player.tsx
  apps/web/hooks/use-track-playback.ts
  apps/web/tests/dom/track-playback.test.tsx
  apps/web/tests/player-playback.test.ts
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

docs: record tests wave 3 outcomes
  docs/TODO.md
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache

fix(PQ-1): sequential pagination + fixture test; correct DP-9
  apps/web/app/(root)/artist/[name]/[token]/_components/artists-top-items.tsx
  apps/web/tests/artist-pagination-offset.test.ts
  docs/TODO.md
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

fix(web): share links carry the item title
  apps/web/components/details-header/more-button.tsx
  apps/web/components/share-options.tsx
  apps/web/components/share-submenu.tsx
  apps/web/components/song-list/more-button.tsx
  apps/web/tests/dom/share-options.test.tsx
  docs/TODO.md
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

reconcile(batch2): TC-3 DB-8 DB-9 AU-6 DP-8 validation notes and evidence
  docs/TODO.md
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache

fix(DP-8): add @types/bun to types package, remove redundant pg devDep from db
  packages/db/package.json
  packages/types/package.json
Due: none

docs: reconcile test and lint TODOs
  docs/TODO.md
  docs/verification/verification-issues.md
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache

reconcile(batch3): add factual reconciliation notes for DP-12, DB-4, PQ-8, PF-7, SE-18
  docs/TODO.md
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache

fix(player): stop stale radio refills and add playback validation tests
  apps/web/components/player.tsx
  apps/web/hooks/use-radio-refill.ts
  apps/web/tests/dom/error-boundaries.test.tsx
  apps/web/tests/dom/like-button.test.tsx
  apps/web/tests/dom/play-all-button.test.tsx
  apps/web/tests/dom/player-renders.test.tsx
  apps/web/tests/dom/radio-refill.test.tsx
  docs/TODO.md
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

fix(DB-4): skip credentials banner when fixtures are missing; reconcile batch3 production proof
  apps/web/instrumentation.ts
  apps/web/tests/dom/queue-restore.test.tsx
  docs/TODO.md
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

fix(PQ-8): restore persisted queue for every subscriber via useSyncExternalStore
  apps/web/hooks/use-store.ts
  apps/web/tests/dom/queue-restore.test.tsx
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

docs(todo): record pq-8 fix and production proof, dp-12 root build
  docs/TODO.md
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache

docs: reconcile dependency and runtime TODO evidence
  docs/TODO.md
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache

fix(deps): patch source-map-js advisory
  bun.lock
  docs/TODO.md
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache

test(TC-1): convert player a11y, wiring and favorite plumbing to behavior tests
  apps/web/tests/dom/player-renders.test.tsx
  apps/web/tests/dom/queue-sheet.test.tsx
  apps/web/tests/player-a11y.test.ts
  apps/web/tests/player-playback.test.ts
  apps/web/tests/playerbar-favorite-state.test.ts
  docs/TODO.md
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

fix(web): list each queue artist once
  apps/web/tests/queue-artists.test.ts
  docs/TODO.md
  docs/verification/verification-issues.md
  packages/types/src/media.ts
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache, eslint --fix .

batch4 source-prep: validate PQ-1 PQ-5 CD-1 PF-7 PF-8, retain evidence/gaps, no edits
  report.md
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache

corrective: remove misplaced project-root report.md; actual report kept at private path /Users/rajput-hemant/Desktop/firstmate/data/infinitunes-catalog-proof-batch4-20261006/report.md
  report.md
Due: prettier --write "**/*.{ts,tsx,mdx}" --cache
